n8n/AI Analyze Message.json
{
  "name": "AI Analyze Message",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -992,
        -64
      ],
      "id": "8e96a64f-ceff-454b-b63a-769fabdfc053",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17efc810-aa11-44b1-a1f1-a044cec675a3",
              "leftValue": "={{ $json.should_analyze_file === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        -64
      ],
      "id": "3a09f606-ebe9-49df-a90c-7d02b2dfb060",
      "name": "IF should analyze file"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/getFile?file_id=' + $json.file_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -368,
        -160
      ],
      "id": "283d9c1b-d3eb-4660-bf45-153286ffde5a",
      "name": "Telegram getFile"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        -160
      ],
      "id": "ad7ac01a-d9ee-460d-b6c9-c750a016acba",
      "name": "Download Telegram file"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Decide AI mode').first().json;\nconst getFile = $('Telegram getFile').first().json;\n\nconst item = $input.first();\nconst binaryMeta = item.binary?.data;\n\nif (!binaryMeta) {\n  return [\n    {\n      json: {\n        ...original,\n        file_analysis_status: 'failed',\n        file_analysis_text: 'File was received, but binary metadata was not available for AI analysis.',\n        file_analysis_json: {\n          summary: null,\n          detected_type: original.message_type || null,\n          language: null,\n          visible_or_extracted_text: null,\n          keywords: [],\n          important_details: [],\n          suggested_topics: [],\n          confidence: 0,\n          error: 'No binary.data metadata found'\n        },\n        skip_gemini_analysis: true\n      }\n    }\n  ];\n}\n\n// IMPORTANT:\n// In n8n binary mode, binary.data.data may contain \"filesystem-v2...\" instead of real base64.\n// So we must read the real binary buffer and convert it to base64 ourselves.\nlet fileBase64;\n\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  fileBase64 = buffer.toString('base64');\n} catch (error) {\n  return [\n    {\n      json: {\n        ...original,\n        file_analysis_status: 'failed',\n        file_analysis_text: 'File was received, but n8n could not read the binary buffer for AI analysis.',\n        file_analysis_json: {\n          summary: null,\n          detected_type: original.message_type || null,\n          language: null,\n          visible_or_extracted_text: null,\n          keywords: [],\n          important_details: [],\n          suggested_topics: [],\n          confidence: 0,\n          error: error.message\n        },\n        skip_gemini_analysis: true\n      }\n    }\n  ];\n}\n\nconst messageType = String(original.message_type || 'document').toLowerCase();\n\nfunction detectMimeType(messageType, original, binaryMeta, getFile) {\n  const fileName = String(\n    original.file_name ||\n    binaryMeta?.fileName ||\n    getFile?.result?.file_path ||\n    ''\n  ).toLowerCase();\n\n  const telegramPath = String(getFile?.result?.file_path || '').toLowerCase();\n\n  if (messageType === 'photo') {\n    if (fileName.endsWith('.png') || telegramPath.endsWith('.png')) {\n      return 'image/png';\n    }\n\n    if (fileName.endsWith('.webp') || telegramPath.endsWith('.webp')) {\n      return 'image/webp';\n    }\n\n    return 'image/jpeg';\n  }\n\n  if (messageType === 'voice') {\n    return original.mime_type || binaryMeta?.mimeType || 'audio/ogg';\n  }\n\n  if (messageType === 'audio') {\n    return original.mime_type || binaryMeta?.mimeType || 'audio/mpeg';\n  }\n\n  if (messageType === 'video') {\n    return original.mime_type || binaryMeta?.mimeType || 'video/mp4';\n  }\n\n  if (messageType === 'video_note') {\n    return original.mime_type || binaryMeta?.mimeType || 'video/mp4';\n  }\n\n  const originalMime = original.mime_type || '';\n  const binaryMime = binaryMeta?.mimeType || '';\n\n  const candidateMime =\n    originalMime && originalMime !== 'application/octet-stream'\n      ? originalMime\n      : binaryMime && binaryMime !== 'application/octet-stream'\n        ? binaryMime\n        : '';\n\n  if (candidateMime) {\n    return candidateMime;\n  }\n\n  if (fileName.endsWith('.pdf') || telegramPath.endsWith('.pdf')) {\n    return 'application/pdf';\n  }\n\n  if (\n    fileName.endsWith('.jpg') ||\n    fileName.endsWith('.jpeg') ||\n    telegramPath.endsWith('.jpg') ||\n    telegramPath.endsWith('.jpeg')\n  ) {\n    return 'image/jpeg';\n  }\n\n  if (fileName.endsWith('.png') || telegramPath.endsWith('.png')) {\n    return 'image/png';\n  }\n\n  if (fileName.endsWith('.webp') || telegramPath.endsWith('.webp')) {\n    return 'image/webp';\n  }\n\n  if (fileName.endsWith('.txt') || telegramPath.endsWith('.txt')) {\n    return 'text/plain';\n  }\n\n  if (fileName.endsWith('.csv') || telegramPath.endsWith('.csv')) {\n    return 'text/csv';\n  }\n\n  if (fileName.endsWith('.json') || telegramPath.endsWith('.json')) {\n    return 'application/json';\n  }\n\n  if (fileName.endsWith('.md') || telegramPath.endsWith('.md')) {\n    return 'text/markdown';\n  }\n\n  if (fileName.endsWith('.html') || telegramPath.endsWith('.html')) {\n    return 'text/html';\n  }\n\n  if (fileName.endsWith('.xml') || telegramPath.endsWith('.xml')) {\n    return 'application/xml';\n  }\n\n  if (fileName.endsWith('.ogg') || telegramPath.endsWith('.ogg')) {\n    return messageType === 'video' ? 'video/ogg' : 'audio/ogg';\n  }\n\n  if (fileName.endsWith('.mp3') || telegramPath.endsWith('.mp3')) {\n    return 'audio/mpeg';\n  }\n\n  if (fileName.endsWith('.wav') || telegramPath.endsWith('.wav')) {\n    return 'audio/wav';\n  }\n\n  if (fileName.endsWith('.m4a') || telegramPath.endsWith('.m4a')) {\n    return 'audio/x-m4a';\n  }\n\n  if (fileName.endsWith('.mp4') || telegramPath.endsWith('.mp4')) {\n    return 'video/mp4';\n  }\n\n  if (fileName.endsWith('.webm') || telegramPath.endsWith('.webm')) {\n    return 'video/webm';\n  }\n\n  if (fileName.endsWith('.mov') || telegramPath.endsWith('.mov')) {\n    return 'video/quicktime';\n  }\n\n  if (fileName.endsWith('.mkv') || telegramPath.endsWith('.mkv')) {\n    return 'video/x-matroska';\n  }\n\n  return 'application/octet-stream';\n}\n\nconst mimeType = detectMimeType(messageType, original, binaryMeta, getFile);\n\nconst fileName =\n  original.file_name ||\n  binaryMeta.fileName ||\n  getFile?.result?.file_path ||\n  'telegram_file';\n\nconst caption = original.caption || '';\nconst content = original.content || original.message || '';\n\nconst supportedMimeTypes = [\n  'image/jpeg',\n  'image/png',\n  'image/webp',\n  'image/heic',\n  'image/heif',\n\n  'application/pdf',\n\n  'text/plain',\n  'text/csv',\n  'application/json',\n  'text/markdown',\n  'text/html',\n  'application/xml',\n  'text/xml',\n\n  'audio/ogg',\n  'audio/mpeg',\n  'audio/mp3',\n  'audio/wav',\n  'audio/webm',\n  'audio/mp4',\n  'audio/aac',\n  'audio/flac',\n  'audio/x-wav',\n  'audio/x-m4a',\n  'application/ogg',\n\n  'video/mp4',\n  'video/webm',\n  'video/quicktime',\n  'video/x-matroska',\n  'video/ogg'\n];\n\nconst isSupported =\n  messageType === 'photo' ||\n  supportedMimeTypes.includes(mimeType);\n\nif (!isSupported) {\n  return [\n    {\n      json: {\n        ...original,\n        file_name: fileName,\n        mime_type: mimeType,\n        telegram_file_path: getFile?.result?.file_path || null,\n        file_analysis_status: 'unsupported',\n        file_analysis_text:\n          `File received but not deeply analyzed. ` +\n          `Unsupported MIME type for direct Gemini analysis: ${mimeType}. ` +\n          `File name: ${fileName}. ` +\n          (caption ? `Caption: ${caption}.` : ''),\n        file_analysis_json: {\n          summary: null,\n          detected_type: messageType,\n          language: null,\n          visible_or_extracted_text: null,\n          keywords: [],\n          important_details: [],\n          suggested_topics: [],\n          confidence: 0.2,\n          error: `Unsupported MIME type: ${mimeType}`\n        },\n        skip_gemini_analysis: true\n      }\n    }\n  ];\n}\n\nconst prompt = `\nYou analyze a Telegram message or file for a personal AI memory bot called Memoraq.\n\nYour task is to create a useful AI index for future search.\n\nReturn only valid JSON.\nDo not use markdown.\nDo not wrap the response in code fences.\nDo not add explanations outside JSON.\n\nTelegram metadata:\n- Message type: ${messageType}\n- File name: ${fileName}\n- MIME type: ${mimeType}\n- Caption: ${caption || '[no caption]'}\n- Existing text/content: ${content || '[no text]'}\n\nFor photos:\n- Describe what is visible.\n- Do not identify real people by name.\n- If it looks like a receipt, document, product, place, screenshot, certificate, food, travel photo, or work-related image, say so.\n- Extract visible text if possible.\n\nFor voice and audio messages:\n- Transcribe the spoken content if possible.\n- Detect the language.\n- Summarize the meaning of the voice/audio message.\n- Extract names, tasks, dates, places, companies, products, amounts, or important instructions if present.\n- Put transcript or useful extracted speech into \"visible_or_extracted_text\".\n- If transcription is not possible, clearly say that the audio could not be transcribed.\n\nFor video files:\n- Analyze visible content if possible.\n- Describe what appears in the video.\n- Detect people, objects, places, documents, screens, products, or activities if visible.\n- If there is speech or audio, transcribe or summarize it if possible.\n- Extract useful searchable keywords.\n- Put any useful transcript or visible text into \"visible_or_extracted_text\".\n- If the video cannot be analyzed, clearly say that only metadata was available.\n\nFor PDFs and text documents:\n- Summarize the main content.\n- Extract organizations, dates, amounts, document type, document numbers, and important keywords if present.\n- If it looks like a CV/resume, invoice, agreement, bank/tax document, report, sales file, legal document, medical document, or travel document, classify it.\n\nReturn exactly this JSON structure:\n\n{\n  \"summary\": \"Short useful summary in English, 1-3 sentences\",\n  \"category\": \"recipe | technical | finance | legal | career | travel | personal | document | photo | shopping | health | task | note | other\",\n  \"detected_type\": \"photo | voice_message | audio_message | video | video_note | receipt | invoice | contract | resume | report | legal_document | tax_document | bank_document | travel_document | screenshot | product | place | text_document | pdf_document | other\",\n  \"language\": \"ru | en | he | ar | unknown\",\n  \"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"],\n  \"entities\": [\"entity1\", \"entity2\"],\n  \"important_details\": [\n    {\n      \"label\": \"date | amount | company | person | location | document_number | product | link | other\",\n      \"value\": \"detail value\"\n    }\n  ],\n  \"visible_or_extracted_text\": \"important visible/extracted text or null\",\n  \"confidence\": 0.85\n}\n\nRules:\n1. Return 5-12 useful keywords.\n2. Keywords may include original language words and English/transliterated equivalents.\n3. Category must describe the content, not only the Telegram message type.\n4. If it is financial, tax, bank, invoice, salary, payment, pension, provident fund, insurance, investment or withdrawal related, use category \"finance\".\n5. If it is a contract, legal letter, rights issue, agreement, claim, court or regulation related, use category \"legal\".\n6. If it is about CV, resume, job search, interview, HR, or career, use category \"career\".\n7. If it is a technical note, code, server, DevOps, n8n, Telegram bot, database, API, automation, or cloud, use category \"technical\".\n8. For video/audio, do not just say \"video file\" or \"audio file\" if actual content can be analyzed.\n9. Do not suggest, create, or mention topics.\n10. Do not return fields named suggested_topics, action, suggested_topic_id, suggested_topic_title, or new_topic_title.\n11. Confidence must be a number between 0 and 1.\n`.trim();\n\nconst requestBody = {\n  contents: [\n    {\n      parts: [\n        {\n          text: prompt\n        },\n        {\n          inline_data: {\n            mime_type: mimeType,\n            data: fileBase64\n          }\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    temperature: 0.2,\n    responseMimeType: 'application/json'\n  }\n};\n\nreturn [\n  {\n    json: {\n      ...original,\n      file_name: fileName,\n      mime_type: mimeType,\n      telegram_file_path: getFile?.result?.file_path || null,\n      gemini_request_body: requestBody,\n      skip_gemini_analysis: false\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -160
      ],
      "id": "647113ee-9dfe-48c2-a6f6-c6036a0a6573",
      "name": "Prepare Gemini file request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e56cc4f-6ecb-4e57-884b-848940c85e42",
              "leftValue": "={{ $json.skip_gemini_analysis === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        -160
      ],
      "id": "d544ec5f-3b00-4aaa-84ec-1f7883b3fab9",
      "name": "IF skip Gemini analysis"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nfunction cleanString(value, maxLength = 500) {\n  return String(value || '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, maxLength);\n}\n\nconst fileName = cleanString(input.file_name || 'telegram_file', 120);\nconst mimeType = cleanString(input.mime_type || 'unknown mime type', 80);\n\nconst summary =\n  input.ai_summary ||\n  `File saved but not deeply analyzed. Unsupported MIME type for direct Gemini analysis: ${mimeType}.`;\n\nconst category = input.message_type === 'photo' ? 'photo' : 'document';\n\nconst keywords = [\n  'file',\n  'unsupported file',\n  fileName,\n  mimeType,\n  category\n]\n  .map(v => cleanString(v, 80))\n  .filter(Boolean);\n\nconst importantDetails = [\n  {\n    label: 'other',\n    value: `Unsupported MIME type: ${mimeType}`\n  }\n];\n\nconst aiContent = [\n  `Source mode: unsupported_file`,\n  `Message type: ${input.message_type || ''}`,\n  `File name: ${fileName}`,\n  `MIME type: ${mimeType}`,\n  `Summary: ${summary}`,\n  `Category: ${category}`,\n  `Keywords: ${keywords.join(', ')}`\n].join('\\n');\n\nconst clean = {\n  ...input,\n\n  message_for_ai: aiContent,\n\n  ai_summary: summary,\n  ai_category: category,\n  ai_language: 'unknown',\n  ai_keywords: keywords,\n  ai_entities: [],\n  ai_important_details: importantDetails,\n  ai_confidence: 0.2,\n\n  ai_raw_json: {\n    summary,\n    category,\n    language: 'unknown',\n    keywords,\n    entities: [],\n    important_details: importantDetails,\n    detected_type: input.message_type || 'file',\n    mime_type: mimeType,\n    file_name: fileName,\n    source: 'unsupported_file'\n  },\n\n  ai_raw_text: aiContent\n};\n\ndelete clean.gemini_request_body;\ndelete clean.skip_gemini_analysis;\n\nreturn [\n  {\n    json: clean\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -256
      ],
      "id": "d526810b-b4f7-4ef1-8d4e-42df2b4be39d",
      "name": "Return unsupported file analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $json.gemini_request_body }}",
        "options": {
          "timeout": 160000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -80
      ],
      "id": "e71ebdbf-d8a9-402c-ae3e-e9d97c1ae72d",
      "name": "Gemini analyze file",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "9bevO9NORDAKzO7X",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Prepare Gemini file request').first().json;\nconst response = $input.first().json;\n\nlet raw = '';\n\ntry {\n  raw =\n    response.candidates?.[0]?.content?.parts\n      ?.map(part => part.text || '')\n      .join('\\n')\n      .trim() || '';\n} catch (e) {\n  raw = '';\n}\n\nraw = String(raw || '')\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]);\n    } catch (e2) {\n      parsed = null;\n    }\n  }\n\n  if (!parsed) {\n    parsed = {\n      summary: raw || 'The file was analyzed, but the AI response could not be parsed as JSON.',\n      category: original.message_type === 'photo' ? 'photo' : 'document',\n      detected_type: original.message_type || 'other',\n      language: 'unknown',\n      keywords: [],\n      entities: [],\n      important_details: [],\n      visible_or_extracted_text: null,\n      confidence: 0.3,\n      parse_error: e.message\n    };\n  }\n}\n\nfunction cleanString(value, maxLength = 500) {\n  return String(value || '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, maxLength);\n}\n\nfunction cleanArray(value, limit = 12) {\n  if (!Array.isArray(value)) return [];\n\n  const seen = new Set();\n\n  return value\n    .map(v => cleanString(v, 80))\n    .filter(Boolean)\n    .filter(v => {\n      const key = v.toLowerCase();\n      if (seen.has(key)) return false;\n      seen.add(key);\n      return true;\n    })\n    .slice(0, limit);\n}\n\nfunction mapDetectedTypeToCategory(detectedType, messageType) {\n  const t = String(detectedType || '').toLowerCase();\n\n  if (['receipt', 'invoice', 'tax_document', 'bank_document'].includes(t)) {\n    return 'finance';\n  }\n\n  if (['contract', 'legal_document'].includes(t)) {\n    return 'legal';\n  }\n\n  if (['resume', 'cv'].includes(t)) {\n    return 'career';\n  }\n\n  if (['travel_document', 'place'].includes(t)) {\n    return 'travel';\n  }\n\n  if (['product'].includes(t)) {\n    return 'shopping';\n  }\n\n  if (['photo', 'screenshot'].includes(t)) {\n    return 'photo';\n  }\n\n  if (['pdf_document', 'text_document', 'report'].includes(t)) {\n    return 'document';\n  }\n\n  if (messageType === 'photo') {\n    return 'photo';\n  }\n\n  if (messageType === 'document') {\n    return 'document';\n  }\n\n  return 'other';\n}\n\nconst detectedType = cleanString(\n  parsed.detected_type ||\n  original.message_type ||\n  'other',\n  50\n);\n\nlet category = cleanString(parsed.category || '', 40).toLowerCase();\n\nconst allowedCategories = [\n  'recipe',\n  'technical',\n  'finance',\n  'legal',\n  'career',\n  'travel',\n  'personal',\n  'document',\n  'photo',\n  'shopping',\n  'health',\n  'task',\n  'note',\n  'other'\n];\n\nif (!allowedCategories.includes(category)) {\n  category = mapDetectedTypeToCategory(detectedType, original.message_type);\n}\n\nlet summary = cleanString(parsed.summary, 260);\n\nif (!summary) {\n  summary = original.message_type === 'photo'\n    ? 'Photo saved with AI-generated searchable details.'\n    : 'Document saved with AI-generated searchable details.';\n}\n\nconst language = cleanString(parsed.language || 'unknown', 20).toLowerCase();\n\nlet keywords = cleanArray(parsed.keywords, 12);\n\nif (keywords.length === 0) {\n  keywords = [\n    category,\n    detectedType,\n    original.file_name,\n    original.mime_type\n  ]\n    .map(v => cleanString(v, 80))\n    .filter(Boolean)\n    .slice(0, 12);\n}\n\nconst entities = cleanArray(parsed.entities, 12);\n\nconst importantDetails = Array.isArray(parsed.important_details)\n  ? parsed.important_details\n      .filter(Boolean)\n      .map(d => ({\n        label: cleanString(d.label || 'other', 50),\n        value: cleanString(d.value || '', 200)\n      }))\n      .filter(d => d.value)\n      .slice(0, 12)\n  : [];\n\nconst extractedText = cleanString(parsed.visible_or_extracted_text || '', 2000);\n\nconst confidence = Math.max(0, Math.min(1, Number(parsed.confidence || 0.7)));\n\nconst aiContent = [\n  `Source mode: file`,\n  `Message type: ${original.message_type || ''}`,\n  original.file_name ? `File name: ${original.file_name}` : null,\n  original.mime_type ? `MIME type: ${original.mime_type}` : null,\n  `Detected type: ${detectedType}`,\n  `Summary: ${summary}`,\n  `Category: ${category}`,\n  `Language: ${language}`,\n  keywords.length ? `Keywords: ${keywords.join(', ')}` : null,\n  entities.length ? `Entities: ${entities.join(', ')}` : null,\n  importantDetails.length ? `Important details: ${JSON.stringify(importantDetails)}` : null,\n  extractedText ? `Extracted text: ${extractedText}` : null,\n  original.caption ? `Caption: ${original.caption}` : null\n]\n  .filter(Boolean)\n  .join('\\n');\n\nconst clean = {\n  ...original,\n\n  file_analysis_status: 'done',\n\n  message_for_ai: aiContent,\n\n  ai_summary: summary,\n  ai_category: category,\n  ai_language: language,\n  ai_keywords: keywords,\n  ai_entities: entities,\n  ai_important_details: importantDetails,\n  ai_confidence: confidence,\n\n  ai_raw_json: {\n    summary,\n    category,\n    language,\n    keywords,\n    entities,\n    important_details: importantDetails,\n    detected_type: detectedType,\n    visible_or_extracted_text: extractedText || null,\n    confidence,\n    raw_ai_json: parsed,\n    source: 'file'\n  },\n\n  ai_raw_text: raw || aiContent\n};\n\ndelete clean.gemini_request_body;\ndelete clean.skip_gemini_analysis;\n\nreturn [\n  {\n    json: clean\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -80
      ],
      "id": "0167a0e9-01af-4e39-80e7-26e799542b64",
      "name": "Parse file analysis"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nconst messageType = String(input.message_type || 'text').toLowerCase();\n\nconst fileId =\n  input.file_id ||\n  input.video_file_id ||\n  input.voice_file_id ||\n  input.audio_file_id ||\n  input.document_file_id ||\n  input.photo_file_id ||\n  null;\n\nconst fileUniqueId =\n  input.file_unique_id ||\n  input.video_file_unique_id ||\n  input.voice_file_unique_id ||\n  input.audio_file_unique_id ||\n  input.document_file_unique_id ||\n  input.photo_file_unique_id ||\n  null;\n\nconst supportedFileMessageTypes = [\n  'photo',\n  'document',\n  'voice',\n  'audio',\n  'video',\n  'video_note'\n];\n\nconst shouldAnalyzeFile =\n  Boolean(fileId) &&\n  supportedFileMessageTypes.includes(messageType);\n\nlet aiModeReason = '';\n\nif (!fileId) {\n  aiModeReason = `No file_id found for message_type=${messageType}`;\n} else if (!supportedFileMessageTypes.includes(messageType)) {\n  aiModeReason = `Unsupported message_type=${messageType}`;\n} else {\n  aiModeReason = `File analysis enabled for message_type=${messageType}`;\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n\n      file_id: fileId,\n      file_unique_id: fileUniqueId,\n\n      message_type: messageType,\n      should_analyze_file: shouldAnalyzeFile,\n      ai_mode: shouldAnalyzeFile ? 'file' : 'text',\n      ai_mode_reason: aiModeReason\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -64
      ],
      "id": "d21bbec2-d32f-4f92-9bd7-5cff70173019",
      "name": "Decide AI mode"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst messageType = input.message_type || 'text';\n\nconst parts = [];\n\nif (input.ai_prompt_input) {\n  parts.push(input.ai_prompt_input);\n}\n\nif (input.raw_text) {\n  parts.push(`Raw text: ${input.raw_text}`);\n}\n\nif (input.content) {\n  parts.push(`Content: ${input.content}`);\n}\n\nif (input.message) {\n  parts.push(`Message: ${input.message}`);\n}\n\nif (input.caption) {\n  parts.push(`Caption: ${input.caption}`);\n}\n\nif (input.file_name) {\n  parts.push(`File name: ${input.file_name}`);\n}\n\nif (input.mime_type) {\n  parts.push(`MIME type: ${input.mime_type}`);\n}\n\nif (input.location_title) {\n  parts.push(`Location title: ${input.location_title}`);\n}\n\nif (input.location_address) {\n  parts.push(`Location address: ${input.location_address}`);\n}\n\nif (input.maps_url) {\n  parts.push(`Map: ${input.maps_url}`);\n}\n\nif (parts.length === 0) {\n  parts.push(`Message type: ${messageType}`);\n}\n\nconst messageForAI = parts.join('\\n\\n');\n\nconst prompt = `\nYou analyze a Telegram message for a personal AI memory bot called Memoraq.\n\nYour task is to create a useful AI index for future search.\n\nAlways return only valid JSON.\nDo not use markdown.\nDo not wrap the response in code fences.\nDo not add explanations outside JSON.\n\nUser ID:\n${input.user_id}\n\nMessage content:\n${messageForAI}\n\nReturn exactly this JSON structure:\n\n{\n  \"summary\": \"Short useful summary of the actual message content in English, 1-2 sentences\",\n  \"category\": \"recipe | technical | finance | legal | career | travel | personal | document | photo | shopping | health | task | note | other\",\n  \"detected_type\": \"text_message | note | location | link | task | other\",\n  \"language\": \"ru | en | he | ar | unknown\",\n  \"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"],\n  \"entities\": [\"entity1\", \"entity2\"],\n  \"important_details\": [\n    {\n      \"label\": \"date | amount | company | person | location | document_number | product | link | other\",\n      \"value\": \"detail value\"\n    }\n  ],\n  \"visible_or_extracted_text\": null,\n  \"confidence\": 0.85\n}\n\nRules:\n1. \"summary\" is mandatory.\n2. \"summary\" must summarize the actual content, not repeat it word-for-word.\n3. Return 5-12 useful keywords.\n4. Keywords may include English transliteration and original-language words if useful.\n5. Category must describe the content, not the Telegram message type.\n6. If the message is about installation, code, servers, DevOps, n8n, Telegram bot, databases, APIs, automation, or cloud, use \"technical\".\n7. If the message is about money, taxes, invoices, bank, salary, payments, pension, provident fund, insurance, investment, withdrawal, or bank forms, use \"finance\".\n8. If the message is about contracts, rights, claims, agreements, legal letters, court, regulations, or legal documents, use \"legal\".\n9. If the message is about CV, resume, job search, interview, HR, salary negotiation, or career, use \"career\".\n10. If the message includes a location or map link, use category \"travel\" or \"personal\" depending on context.\n11. Extract entities such as companies, people, places, products, document numbers, dates, and amounts if present.\n12. Do not suggest, create, or mention topics.\n13. Do not return fields named action, suggested_topic_id, suggested_topic_title, or new_topic_title.\n14. Confidence must be a number between 0 and 1.\n`.trim();\n\nconst requestBody = {\n  contents: [\n    {\n      parts: [\n        {\n          text: prompt\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    temperature: 0.2,\n    responseMimeType: 'application/json'\n  }\n};\n\nreturn [\n  {\n    json: {\n      ...input,\n      message_for_ai: messageForAI,\n      gemini_request_body: requestBody,\n      ai_source_mode: 'text',\n      skip_gemini_analysis: false\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        32
      ],
      "id": "063aae3d-e241-4f0f-b9c3-22fba89eddb0",
      "name": "Prepare Gemini text request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $json.gemini_request_body }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        32
      ],
      "id": "a0d71e6b-00f6-4395-afec-6b868168fb37",
      "name": "Gemini analyze message",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "9bevO9NORDAKzO7X",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\nconst response = $input.first().json;\n\nlet original;\n\ntry {\n  original = $('Prepare Gemini file request').first().json;\n} catch (e) {\n  try {\n    original = $('Prepare Gemini text request').first().json;\n  } catch (e2) {\n    original = source;\n  }\n}\n\nlet raw = '';\n\ntry {\n  raw =\n    response.candidates?.[0]?.content?.parts\n      ?.map(part => part.text || '')\n      .join('\\n')\n      .trim() || '';\n} catch (e) {\n  raw = '';\n}\n\nraw = String(raw || '')\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]);\n    } catch (e2) {\n      parsed = null;\n    }\n  }\n\n  if (!parsed) {\n    parsed = {\n      summary: raw || 'The message was analyzed, but the AI response could not be parsed as JSON.',\n      category: original.message_type === 'photo' ? 'photo' : 'note',\n      detected_type: original.message_type || 'other',\n      language: 'unknown',\n      keywords: [],\n      entities: [],\n      important_details: [],\n      visible_or_extracted_text: null,\n      confidence: 0.3,\n      parse_error: e.message\n    };\n  }\n}\n\nfunction cleanString(value, maxLength = 500) {\n  return String(value || '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, maxLength);\n}\n\nfunction cleanArray(value, limit = 12) {\n  if (!Array.isArray(value)) return [];\n\n  const seen = new Set();\n\n  return value\n    .map(v => cleanString(v, 80))\n    .filter(Boolean)\n    .filter(v => {\n      const key = v.toLowerCase();\n      if (seen.has(key)) return false;\n      seen.add(key);\n      return true;\n    })\n    .slice(0, limit);\n}\n\nconst allowedCategories = [\n  'recipe',\n  'technical',\n  'finance',\n  'legal',\n  'career',\n  'travel',\n  'personal',\n  'document',\n  'photo',\n  'shopping',\n  'health',\n  'task',\n  'note',\n  'other'\n];\n\nlet category = cleanString(parsed.category || 'note', 40).toLowerCase();\n\nif (!allowedCategories.includes(category)) {\n  category = 'other';\n}\n\nconst messageText = String(\n  original.message_for_ai ||\n  original.raw_text ||\n  original.content ||\n  original.message ||\n  ''\n).replace(/\\s+/g, ' ').trim();\n\nlet summary = cleanString(parsed.summary, 260);\n\nconst summaryLooksLikeOriginal =\n  summary.length > 300 ||\n  (\n    messageText.length > 0 &&\n    summary.length > messageText.length * 0.65\n  );\n\nif (!summary || summaryLooksLikeOriginal) {\n  if (category === 'technical') {\n    summary = 'Technical note with practical implementation details.';\n  } else if (category === 'finance') {\n    summary = 'Finance-related note with useful details for tracking.';\n  } else if (category === 'legal') {\n    summary = 'Legal or agreement-related note with important details.';\n  } else if (category === 'career') {\n    summary = 'Career-related note with professional details.';\n  } else if (category === 'recipe') {\n    summary = 'Cooking note with ingredients or preparation details.';\n  } else if (category === 'photo') {\n    summary = 'Photo saved with AI-generated searchable details.';\n  } else if (category === 'document') {\n    summary = 'Document saved with AI-generated searchable details.';\n  } else {\n    summary = messageText ? messageText.slice(0, 180) : 'Saved Telegram message.';\n  }\n}\n\nconst language = cleanString(parsed.language || 'unknown', 20).toLowerCase();\n\nlet keywords = cleanArray(parsed.keywords, 12);\n\nif (keywords.length === 0) {\n  keywords = [\n    category,\n    parsed.detected_type,\n    original.message_type,\n    original.file_name,\n    original.mime_type\n  ]\n    .map(v => cleanString(v, 80))\n    .filter(Boolean)\n    .slice(0, 12);\n}\n\nconst entities = cleanArray(parsed.entities, 12);\n\nconst importantDetails = Array.isArray(parsed.important_details)\n  ? parsed.important_details\n      .filter(Boolean)\n      .map(d => ({\n        label: cleanString(d.label || 'other', 50),\n        value: cleanString(d.value || '', 200)\n      }))\n      .filter(d => d.value)\n      .slice(0, 12)\n  : [];\n\nconst detectedType = cleanString(\n  parsed.detected_type ||\n  original.message_type ||\n  'other',\n  50\n);\n\nconst extractedText = cleanString(parsed.visible_or_extracted_text || '', 2000);\n\nconst confidence = Math.max(0, Math.min(1, Number(parsed.confidence || 0)));\n\nconst aiContent = [\n  `Source mode: ${original.ai_source_mode || 'unknown'}`,\n  `Message type: ${original.message_type || ''}`,\n  original.file_name ? `File name: ${original.file_name}` : null,\n  original.mime_type ? `MIME type: ${original.mime_type}` : null,\n  `Detected type: ${detectedType}`,\n  `Summary: ${summary}`,\n  `Category: ${category}`,\n  `Language: ${language}`,\n  keywords.length ? `Keywords: ${keywords.join(', ')}` : null,\n  entities.length ? `Entities: ${entities.join(', ')}` : null,\n  importantDetails.length ? `Important details: ${JSON.stringify(importantDetails)}` : null,\n  extractedText ? `Extracted text: ${extractedText}` : null,\n  original.caption ? `Caption: ${original.caption}` : null,\n  original.message_for_ai ? `Message: ${original.message_for_ai}` : null\n]\n  .filter(Boolean)\n  .join('\\n');\n\nconst clean = {\n  ...original,\n\n  message_for_ai: aiContent,\n\n  ai_summary: summary,\n  ai_category: category,\n  ai_language: language,\n  ai_keywords: keywords,\n  ai_entities: entities,\n  ai_important_details: importantDetails,\n  ai_confidence: confidence,\n\n  ai_raw_json: {\n    summary,\n    category,\n    language,\n    keywords,\n    entities,\n    important_details: importantDetails,\n    detected_type: detectedType,\n    visible_or_extracted_text: extractedText || null,\n    confidence,\n    raw_ai_json: parsed,\n    source: original.ai_source_mode || 'unknown'\n  },\n\n  ai_raw_text: raw || aiContent\n};\n\ndelete clean.gemini_request_body;\ndelete clean.skip_gemini_analysis;\n\nreturn [\n  {\n    json: clean\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        80
      ],
      "id": "374cd8cb-a168-4a24-a3c3-08d88bbdb805",
      "name": "Parse Gemini analysis"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Try to recover original input passed into the subflow.\n// Save AI metadata/index does not return processing_message_id,\n// so we pull it from earlier nodes.\nlet original = {};\n\ntry {\n  original = $('When Executed by Another Workflow').first().json || {};\n} catch (e) {\n  original = {};\n}\n\nlet decided = {};\n\ntry {\n  decided = $('Decide AI mode').first().json || {};\n} catch (e) {\n  decided = {};\n}\n\nfunction firstValue(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && value !== '') {\n      return value;\n    }\n  }\n  return null;\n}\n\nfunction toArray(value) {\n  if (Array.isArray(value)) {\n    return value;\n  }\n\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      if (Array.isArray(parsed)) {\n        return parsed;\n      }\n    } catch (e) {}\n\n    return value\n      .split(',')\n      .map(v => v.trim())\n      .filter(Boolean);\n  }\n\n  return [];\n}\n\nconst processingMessageId = firstValue(\n  input.processing_message_id,\n  input.processing_msg_id,\n  input.processingMessageId,\n\n  decided.processing_message_id,\n  decided.processing_msg_id,\n  decided.processingMessageId,\n\n  original.processing_message_id,\n  original.processing_msg_id,\n  original.processingMessageId\n);\n\nconst chatId = firstValue(\n  input.chat_id,\n  decided.chat_id,\n  original.chat_id,\n  original.message?.chat?.id,\n  original.callback_query?.message?.chat?.id\n);\n\nconst userId = firstValue(\n  input.user_id,\n  decided.user_id,\n  original.user_id,\n  original.message?.from?.id,\n  original.callback_query?.from?.id\n);\n\nconst pendingMessageId = firstValue(\n  input.pending_message_id,\n  decided.pending_message_id,\n  original.pending_message_id\n);\n\nconst messageUuid = firstValue(\n  input.message_uuid,\n  decided.message_uuid,\n  original.message_uuid\n);\n\nconst keywords = toArray(input.ai_keywords)\n  .filter(Boolean)\n  .slice(0, 12);\n\nconst summary = String(input.ai_summary || '').trim();\nconst category = String(input.ai_category || 'note').trim();\nconst language = String(input.ai_language || 'unknown').trim();\n\nconst keywordsText = keywords.length\n  ? keywords.join(', ')\n  : 'No keywords detected';\n\nconst summaryBlock = summary\n  ? `\\n\\nAI summary:\\n${summary}`\n  : '';\n\nconst categoryBlock = category\n  ? `\\n\\nCategory: ${category}`\n  : '';\n\nconst languageBlock = language\n  ? `\\nLanguage: ${language}`\n  : '';\n\nreturn [\n  {\n    json: {\n      user_id: userId,\n      chat_id: chatId,\n      pending_message_id: pendingMessageId,\n      message_uuid: messageUuid,\n      processing_message_id: processingMessageId,\n\n      text:\n`Ready to save ✅${summaryBlock}${categoryBlock}${languageBlock}\n\nKeywords:\n${keywordsText}\n\nDo you want to add your own keywords?`,\n\n      inline_keyboard: [\n        [\n          {\n            text: '✅ Save',\n            callback_data: 'action:save_pending'\n          }\n        ],\n        [\n          {\n            text: '➕ Add keywords',\n            callback_data: 'action:add_keywords'\n          }\n        ],\n        [\n          {\n            text: '❌ Cancel',\n            callback_data: 'action:cancel_pending'\n          }\n        ]\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -32
      ],
      "id": "3f43e18a-0a0e-4a24-a827-cf20504903d3",
      "name": "Build keywords review keyboard"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{ $json.user_id }}::BIGINT AS user_id,\n    {{ $json.chat_id }}::BIGINT AS chat_id,\n\n    {{ $json.pending_message_id || 'NULL' }}::BIGINT AS pending_message_id,\n    {{ $json.message_uuid ? \"'\" + String($json.message_uuid).replace(/'/g, \"''\") + \"'::UUID\" : \"NULL::UUID\" }} AS message_uuid,\n\n    '{{ String($json.message_type || \"text\").replace(/'/g, \"''\") }}'::TEXT AS message_type,\n\n    {{ $json.message_for_ai ? \"'\" + String($json.message_for_ai).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS message_for_ai,\n\n    {{ $json.ai_summary ? \"'\" + String($json.ai_summary).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS ai_summary,\n    {{ $json.ai_category ? \"'\" + String($json.ai_category).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS ai_category,\n    {{ $json.ai_language ? \"'\" + String($json.ai_language).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS ai_language,\n\n    {{ $json.ai_confidence !== null && $json.ai_confidence !== undefined ? Number($json.ai_confidence) : 0 }}::NUMERIC AS ai_confidence,\n\n    '{{ JSON.stringify($json.ai_keywords || []).replace(/'/g, \"''\") }}'::JSONB AS keywords_json,\n    '{{ JSON.stringify($json.ai_entities || []).replace(/'/g, \"''\") }}'::JSONB AS entities_json,\n    '{{ JSON.stringify($json.ai_important_details || []).replace(/'/g, \"''\") }}'::JSONB AS important_details_json,\n    '{{ JSON.stringify($json.ai_raw_json || {}).replace(/'/g, \"''\") }}'::JSONB AS raw_ai_json,\n\n    '{{ String($json.ai_raw_text || \"{}\").replace(/'/g, \"''\") }}'::TEXT AS ai_raw_text\n),\n\nprepared AS (\n  SELECT\n    *,\n\n    COALESCE(NULLIF(ai_summary, ''), NULLIF(message_for_ai, ''), 'EMPTY') AS final_summary,\n    COALESCE(NULLIF(ai_category, ''), 'note') AS final_category,\n    COALESCE(NULLIF(ai_language, ''), 'unknown') AS final_language,\n\n    COALESCE(entities_json, '[]'::JSONB) AS final_entities,\n\n    TRIM(CONCAT_WS(E'\\n',\n      'Message type: ' || COALESCE(message_type, ''),\n      'Summary: ' || COALESCE(ai_summary, ''),\n      'Category: ' || COALESCE(ai_category, ''),\n      'Language: ' || COALESCE(ai_language, ''),\n      'Keywords: ' || COALESCE(keywords_json::TEXT, '[]'),\n      'Entities: ' || COALESCE(entities_json::TEXT, '[]'),\n      'Important details: ' || COALESCE(important_details_json::TEXT, '[]'),\n      'Message: ' || COALESCE(message_for_ai, '')\n    )) AS final_ai_content\n\n  FROM input_data\n),\n\nmetadata_upsert AS (\n  INSERT INTO gnote.message_ai_metadata (\n    pending_message_id,\n    message_uuid,\n    user_id,\n    source_status,\n\n    summary,\n    detected_type,\n    category,\n    language,\n\n    keywords,\n    suggested_topics,\n    entities,\n    important_details,\n\n    confidence,\n    raw_ai_json,\n    ai_content,\n\n    model_name,\n    analysis_status,\n    created_at,\n    updated_at\n  )\n  SELECT\n    pending_message_id,\n    message_uuid,\n    user_id,\n    'pending',\n\n    final_summary,\n    final_category,\n    final_category,\n    final_language,\n\n    keywords_json,\n    '[]'::JSONB,\n    final_entities,\n    important_details_json,\n\n    ai_confidence,\n    raw_ai_json,\n    final_ai_content,\n\n    'gemini',\n    'done',\n    NOW(),\n    NOW()\n  FROM prepared\n  WHERE pending_message_id IS NOT NULL\n\n  ON CONFLICT (pending_message_id)\n  WHERE pending_message_id IS NOT NULL\n  DO UPDATE SET\n    message_uuid = EXCLUDED.message_uuid,\n    user_id = EXCLUDED.user_id,\n    source_status = 'pending',\n\n    summary = EXCLUDED.summary,\n    detected_type = EXCLUDED.detected_type,\n    category = EXCLUDED.category,\n    language = EXCLUDED.language,\n\n    keywords = EXCLUDED.keywords,\n    suggested_topics = EXCLUDED.suggested_topics,\n    entities = EXCLUDED.entities,\n    important_details = EXCLUDED.important_details,\n\n    confidence = EXCLUDED.confidence,\n    raw_ai_json = EXCLUDED.raw_ai_json,\n    ai_content = EXCLUDED.ai_content,\n\n    model_name = EXCLUDED.model_name,\n    analysis_status = EXCLUDED.analysis_status,\n    updated_at = NOW()\n\n  RETURNING id\n)\n\nSELECT\n  prepared.user_id,\n  prepared.chat_id,\n  prepared.pending_message_id,\n  prepared.message_uuid,\n  prepared.message_type,\n\n  prepared.message_for_ai,\n\n  prepared.final_summary AS ai_summary,\n  prepared.final_category AS ai_category,\n  prepared.final_language AS ai_language,\n  prepared.ai_confidence,\n\n  prepared.keywords_json AS ai_keywords,\n  prepared.entities_json AS ai_entities,\n  prepared.important_details_json AS ai_important_details,\n\n  prepared.raw_ai_json AS ai_raw_json,\n  prepared.ai_raw_text AS text,\n\n  (SELECT COUNT(*) FROM metadata_upsert) AS metadata_rows,\n  0 AS index_rows\n\nFROM prepared;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        -32
      ],
      "id": "1ba74f5b-8058-4450-a192-9102712609ca",
      "name": "Save AI metadata",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Decide AI mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF should analyze file": {
      "main": [
        [
          {
            "node": "Telegram getFile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Gemini text request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram getFile": {
      "main": [
        [
          {
            "node": "Download Telegram file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Telegram file": {
      "main": [
        [
          {
            "node": "Prepare Gemini file request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini file request": {
      "main": [
        [
          {
            "node": "IF skip Gemini analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF skip Gemini analysis": {
      "main": [
        [
          {
            "node": "Return unsupported file analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini analyze file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini analyze file": {
      "main": [
        [
          {
            "node": "Parse file analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide AI mode": {
      "main": [
        [
          {
            "node": "IF should analyze file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini text request": {
      "main": [
        [
          {
            "node": "Gemini analyze message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini analyze message": {
      "main": [
        [
          {
            "node": "Parse Gemini analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini analysis": {
      "main": [
        [
          {
            "node": "Save AI metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse file analysis": {
      "main": [
        [
          {
            "node": "Save AI metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return unsupported file analysis": {
      "main": [
        [
          {
            "node": "Save AI metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI metadata": {
      "main": [
        [
          {
            "node": "Build keywords review keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "febf3b17-5652-4da1-93e6-81deaaa53731",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55f8b8197c6537282f737c6a15b6220454fb4f0ecbeb5fdd2fcb6f35f67501c5"
  },
  "id": "29RmHLQgRiiy7qh4h1h3A",
  "tags": []
}