n8n/AI Suggest Topic.json
{
  "name": "AI Suggest Topic",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        160
      ],
      "id": "2eda554c-417f-4345-a58d-d3ea93ec6688",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH user_topics AS (\n  SELECT\n    id,\n    title\n  FROM gnote.topics\n  WHERE user_id = {{ $json.user_id }}\n    AND LOWER(title) <> 'deleted messages'\n  ORDER BY title ASC\n)\n\nSELECT\n  id,\n  title\nFROM user_topics\n\nUNION ALL\n\nSELECT\n  NULL::BIGINT AS id,\n  NULL::TEXT AS title\nWHERE NOT EXISTS (\n  SELECT 1 FROM user_topics\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        160
      ],
      "id": "62e4dc76-5f7f-4c75-a6a0-52ac362317c6",
      "name": "get user topics for AI",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('When Executed by Another Workflow').first().json;\n\nconst topics = $input.all()\n  .filter(item => item.json.id && item.json.title)\n  .map(item => ({\n    id: item.json.id,\n    title: item.json.title\n  }));\n\nconst messageType = input.message_type || 'text';\n\nconst fileAnalysisJson = input.file_analysis_json || {};\nconst fileAnalysisStatus = input.file_analysis_status || null;\nconst fileAnalysisSummary =\n  input.file_analysis_summary ||\n  fileAnalysisJson.summary ||\n  null;\n\nconst fileAnalysisDetectedType =\n  input.file_analysis_detected_type ||\n  fileAnalysisJson.detected_type ||\n  null;\n\nconst parts = [];\n\nif (input.ai_prompt_input) {\n  parts.push(input.ai_prompt_input);\n}\n\nif (input.file_analysis_text) {\n  parts.push(input.file_analysis_text);\n}\n\nif (fileAnalysisStatus) {\n  parts.push(`File analysis status: ${fileAnalysisStatus}`);\n}\n\nif (fileAnalysisSummary) {\n  parts.push(`File summary: ${fileAnalysisSummary}`);\n}\n\nif (fileAnalysisDetectedType) {\n  parts.push(`Detected file type: ${fileAnalysisDetectedType}`);\n}\n\nif (Array.isArray(fileAnalysisJson.suggested_topics) && fileAnalysisJson.suggested_topics.length > 0) {\n  parts.push(`Suggested topics from file analysis: ${fileAnalysisJson.suggested_topics.join(', ')}`);\n}\n\nif (Array.isArray(fileAnalysisJson.keywords) && fileAnalysisJson.keywords.length > 0) {\n  parts.push(`File keywords: ${fileAnalysisJson.keywords.join(', ')}`);\n}\n\nif (fileAnalysisJson.visible_or_extracted_text) {\n  parts.push(`Extracted file text: ${String(fileAnalysisJson.visible_or_extracted_text).slice(0, 2000)}`);\n}\n\nif (input.raw_text) {\n  parts.push(`Raw text: ${input.raw_text}`);\n}\n\nif (input.content) {\n  parts.push(`Content: ${input.content}`);\n}\n\nif (input.caption) {\n  parts.push(`Caption: ${input.caption}`);\n}\n\nif (input.file_name) {\n  parts.push(`File name: ${input.file_name}`);\n}\n\nif (input.mime_type) {\n  parts.push(`MIME type: ${input.mime_type}`);\n}\n\nif (input.location_title) {\n  parts.push(`Location title: ${input.location_title}`);\n}\n\nif (input.location_address) {\n  parts.push(`Location address: ${input.location_address}`);\n}\n\nif (input.maps_url) {\n  parts.push(`Map: ${input.maps_url}`);\n}\n\nif (parts.length === 0) {\n  parts.push(`Message type: ${messageType}`);\n}\n\nconst messageForAI = parts.join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      user_id: input.user_id,\n      chat_id: input.chat_id,\n\n      pending_message_id: input.pending_message_id || null,\n      message_uuid: input.message_uuid || null,\n\n      message_type: messageType,\n      message_for_ai: messageForAI,\n\n      file_analysis_status: fileAnalysisStatus,\n      file_analysis_text: input.file_analysis_text || null,\n      file_analysis_summary: fileAnalysisSummary,\n      file_analysis_detected_type: fileAnalysisDetectedType,\n      file_analysis_json: fileAnalysisJson,\n\n      topics\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        160
      ],
      "id": "ecabb2ce-6d81-4de8-9ec4-8418f9ddf3bb",
      "name": "prepare AI prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You classify a Telegram message into the most useful topic for a personal memory bot called Memoraq.\n\nAlways return only valid JSON.\nDo not use markdown.\nDo not wrap the response in code fences.\nDo not add explanations outside JSON.\n\nUser ID:\n{{ $json.user_id }}\n\nMessage to classify:\n{{ $json.message_for_ai }}\n\nExisting topics:\n{{ JSON.stringify($json.topics || []) }}\n\nReturn exactly this JSON structure:\n\n{\n  \"action\": \"use_existing | create_new\",\n  \"suggested_topic_id\": null,\n  \"suggested_topic_title\": null,\n  \"new_topic_title\": null,\n  \"summary\": \"Short useful summary of the actual message content in English, 1-2 sentences\",\n  \"category\": \"recipe | technical | finance | legal | career | travel | personal | document | photo | shopping | health | task | note | other\",\n  \"language\": \"ru | en | he | ar | unknown\",\n  \"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"],\n  \"confidence\": 0.85,\n  \"reason\": \"Short explanation why this topic was selected\"\n}\n\nRules:\n1. The field \"summary\" is mandatory. It must summarize the actual content of the user message, not repeat it word-for-word.\n2. The field \"keywords\" is mandatory. It must contain 3-10 useful keywords for future search.\n3. The field \"category\" is mandatory and must describe the content, not the Telegram message type.\n4. If the message is a recipe or cooking instruction, use category \"recipe\".\n5. If the message is about installation, code, servers, DevOps, cloud, databases, or automation, use category \"technical\".\n6. If the message is about CV, resume, job search, interview, or career, use category \"career\".\n7. If the message is about money, taxes, invoices, bank, salary, or payments, use category \"finance\".\n8. If the message is about contracts, rights, claims, agreements, or legal documents, use category \"legal\".\n9. If one existing topic clearly fits, use action \"use_existing\" and set suggested_topic_id and suggested_topic_title.\n10. If no existing topic clearly fits, use action \"create_new\" and set new_topic_title.\n11. For recipes, prefer an existing topic like \"Recipes\" if it exists. If it does not exist, create a new topic named \"Recipes\".\n12. For technical messages, prefer an existing topic related to technical notes, DevOps, servers, automation, n8n, databases, or code.\n13. Do not use generic \"New Notes\" if a more specific topic can be created.\n14. Confidence must be a number between 0 and 1.\n\nExample for a recipe message:\n\n{\n  \"action\": \"create_new\",\n  \"suggested_topic_id\": null,\n  \"suggested_topic_title\": null,\n  \"new_topic_title\": \"Recipes\",\n  \"summary\": \"Simple recipe for kefir-based okroshka with sausage, potatoes, eggs, and optional spices.\",\n  \"category\": \"recipe\",\n  \"language\": \"ru\",\n  \"keywords\": [\"okroshka\", \"recipe\", \"kefir\", \"sausage\", \"potatoes\", \"eggs\"],\n  \"confidence\": 0.92,\n  \"reason\": \"The message contains a detailed cooking recipe.\"\n}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI indexing and topic classification assistant. Always return only valid JSON."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        512,
        176
      ],
      "id": "d3bf24ff-3874-40b7-8f27-978c22a1962d",
      "name": "AI classify topic"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        384
      ],
      "id": "a5385cd2-5e29-46d3-a96e-da2252ac420f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9bevO9NORDAKzO7X",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('prepare AI prompt').first().json;\n\nlet raw =\n  $json.text ||\n  $json.ai_raw_text ||\n  $json.output ||\n  $json.response ||\n  $json.message ||\n  $json.content ||\n  '';\n\nif (!raw && $json.ai_raw_json) {\n  raw = JSON.stringify($json.ai_raw_json);\n}\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = String(raw || '')\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet ai;\n\ntry {\n  ai = JSON.parse(raw);\n} catch (e) {\n  ai = {\n    action: $json.ai_action || 'create_new',\n    suggested_topic_id: $json.ai_suggested_topic_id || null,\n    suggested_topic_title: $json.ai_suggested_topic_title || null,\n    new_topic_title: $json.ai_new_topic_title || 'New Notes',\n    summary: $json.ai_summary || null,\n    category: $json.ai_category || 'note',\n    language: $json.ai_language || 'unknown',\n    keywords: $json.ai_keywords || [],\n    confidence: Number($json.ai_confidence || 0),\n    reason: $json.ai_reason || 'AI classified this message.'\n  };\n}\n\nconst topics = original.topics || [];\nconst confidence = Number(ai.confidence || 0);\nconst action = ai.action || 'create_new';\n\nfunction cleanTopicTitle(title) {\n  return String(title || '')\n    .replace(/[^\\p{L}\\p{N}\\s&/-]/gu, '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 40);\n}\n\nfunction normalizeTopic(title) {\n  return String(title || '')\n    .toLowerCase()\n    .replace(/[^\\p{L}\\p{N}\\s]/gu, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction compactSummary(summary) {\n  let s = String(summary || '').replace(/\\s+/g, ' ').trim();\n\n  const originalText = String(\n    original.raw_text ||\n    original.content ||\n    original.message_for_ai ||\n    ''\n  ).replace(/\\s+/g, ' ').trim();\n\n  const looksLikeOriginal =\n    s.length > 300 ||\n    (\n      originalText.length > 0 &&\n      s.length > originalText.length * 0.65\n    );\n\n  if (!s || looksLikeOriginal) {\n    return '';\n  }\n\n  if (s.length > 260) {\n    s = s.slice(0, 257) + '...';\n  }\n\n  return s;\n}\n\nconst summary =\n  compactSummary(ai.summary) ||\n  compactSummary($json.ai_summary) ||\n  '';\n\nconst keywords = Array.isArray(ai.keywords)\n  ? ai.keywords.filter(Boolean).slice(0, 8)\n  : [];\n\nconst keywordsBlock = keywords.length > 0\n  ? `\\n\\nKeywords: ${keywords.join(', ')}`\n  : '';\n\nconst aiSummaryBlock = summary\n  ? `\\n\\nAI summary:\\n${summary}`\n  : '';\n\nconst categoryBlock = ai.category\n  ? `\\n\\nCategory: ${ai.category}`\n  : '';\n\nfunction findTopicById(topicId) {\n  if (!topicId) return null;\n  return topics.find(t => Number(t.id) === Number(topicId)) || null;\n}\n\nfunction findTopicByTitle(title) {\n  const normalized = normalizeTopic(title);\n  if (!normalized) return null;\n\n  return topics.find(t => normalizeTopic(t.title) === normalized) || null;\n}\n\n// Case 1: AI suggests existing topic\nif (action === 'use_existing') {\n  const topicId = ai.suggested_topic_id ? Number(ai.suggested_topic_id) : null;\n\n  let matchedTopic = findTopicById(topicId);\n\n  if (!matchedTopic && ai.suggested_topic_title) {\n    matchedTopic = findTopicByTitle(ai.suggested_topic_title);\n  }\n\n  if (matchedTopic && confidence >= 0.5) {\n    const reason = ai.reason || 'This looks like the closest matching topic.';\n\n    return [\n      {\n        json: {\n          chat_id: original.chat_id,\n          text:\n`Suggested topic:\n\n📁 ${matchedTopic.title}\n\nReason: ${reason}${aiSummaryBlock}${categoryBlock}${keywordsBlock}`,\n          inline_keyboard: [\n            [\n              {\n                text: `✅ Save to ${matchedTopic.title}`,\n                callback_data: `select_topic:${matchedTopic.id}`\n              }\n            ],\n            [\n              {\n                text: '📁 Choose another topic',\n                callback_data: 'action:choose_topic'\n              }\n            ],\n            [\n              {\n                text: '➕ Create new topic',\n                callback_data: 'action:create_new'\n              }\n            ],\n            [\n              {\n                text: '❌ Cancel',\n                callback_data: 'action:cancel_pending'\n              }\n            ]\n          ]\n        }\n      }\n    ];\n  }\n}\n\n// Case 2: create new topic\nlet newTopicTitle =\n  cleanTopicTitle(ai.new_topic_title) ||\n  cleanTopicTitle(ai.suggested_topic_title) ||\n  'New Notes';\n\nconst genericTopics = ['new notes', 'notes', 'documents', 'files', 'unsorted notes'];\n\nif (genericTopics.includes(normalizeTopic(newTopicTitle))) {\n  if (ai.category === 'recipe') {\n    newTopicTitle = 'Recipes';\n  } else if (ai.category === 'technical') {\n    newTopicTitle = 'Technical Notes';\n  } else if (ai.category === 'career') {\n    newTopicTitle = 'Career';\n  } else if (ai.category === 'finance') {\n    newTopicTitle = 'Finance';\n  } else if (ai.category === 'legal') {\n    newTopicTitle = 'Legal Documents';\n  }\n}\n\nconst reason = ai.reason || 'This would be a useful new topic for this message.';\n\nreturn [\n  {\n    json: {\n      chat_id: original.chat_id,\n      text:\n`Suggested new topic:\n\n📁 ${newTopicTitle}\n\nReason: ${reason}${aiSummaryBlock}${categoryBlock}${keywordsBlock}\n\nCreate this topic and save the message here?`,\n      inline_keyboard: [\n        [\n          {\n            text: `✅ Create \"${newTopicTitle}\"`,\n            callback_data: `ai_create_topic:${encodeURIComponent(newTopicTitle)}`\n          }\n        ],\n        [\n          {\n            text: '📁 Choose existing topic',\n            callback_data: 'action:choose_topic'\n          }\n        ],\n        [\n          {\n            text: '➕ Create manually',\n            callback_data: 'action:create_new'\n          }\n        ],\n        [\n          {\n            text: '❌ Cancel',\n            callback_data: 'action:cancel_pending'\n          }\n        ]\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        176
      ],
      "id": "4011bf98-6efe-4a12-b882-825734ceba40",
      "name": "build AI topic keyboard"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9c29547e-7130-4c71-92c3-f9a5ad7244cf",
              "leftValue": "={{\n  Boolean(\n    (\n      $json.file_analysis_status === 'done' ||\n      String($json.message_for_ai || '').includes('File analysis status: done')\n    )\n    &&\n    (\n      Boolean($json.file_analysis_json?.detected_type) ||\n      (\n        Array.isArray($json.file_analysis_json?.suggested_topics) &&\n        $json.file_analysis_json.suggested_topics.length > 0\n      ) ||\n      Boolean($json.file_analysis_json?.summary) ||\n      String($json.message_for_ai || '').includes('Detected file type:') ||\n      String($json.message_for_ai || '').includes('Suggested topics from file analysis:')\n    )\n  )\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        160
      ],
      "id": "6a8700b5-20b9-4047-8465-3bdb85fe0a96",
      "name": "IF use file analysis directly"
    },
    {
      "parameters": {
        "jsCode": "const original = $input.first().json;\n\nconst topics = original.topics || [];\nconst analysis = original.file_analysis_json || {};\n\nconst summary = analysis.summary || original.file_analysis_summary || '';\nconst detectedType = analysis.detected_type || original.file_analysis_detected_type || '';\nconst suggestedTopics = Array.isArray(analysis.suggested_topics)\n  ? analysis.suggested_topics.filter(Boolean)\n  : [];\n\nconst keywords = Array.isArray(analysis.keywords)\n  ? analysis.keywords.filter(Boolean).slice(0, 8)\n  : [];\n\nfunction cleanTopicTitle(title) {\n  return String(title || '')\n    .replace(/[^\\p{L}\\p{N}\\s&/-]/gu, '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 40);\n}\n\nfunction normalizeTopic(title) {\n  return String(title || '')\n    .toLowerCase()\n    .replace(/[^\\p{L}\\p{N}\\s]/gu, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction findExistingTopicByNames(names) {\n  const normalizedNames = names.map(normalizeTopic).filter(Boolean);\n\n  return topics.find(topic => {\n    const normalizedTitle = normalizeTopic(topic.title);\n    return normalizedNames.some(name => normalizedTitle === name);\n  });\n}\n\nfunction isResumeLike() {\n  const combined = [\n    detectedType,\n    summary,\n    suggestedTopics.join(' '),\n    keywords.join(' ')\n  ]\n    .filter(Boolean)\n    .join(' ')\n    .toLowerCase();\n\n  return (\n    combined.includes('resume') ||\n    combined.includes('cv') ||\n    combined.includes('curriculum vitae') ||\n    combined.includes('career') ||\n    combined.includes('job') ||\n    combined.includes('professional profile') ||\n    combined.includes('interview')\n  );\n}\n\nlet preferredTopicNames = [];\n\n// Strong rules by detected type\nif (isResumeLike()) {\n  preferredTopicNames = ['Resume', 'Career', 'Jobs', 'Interviews', 'Documents'];\n} else if (detectedType) {\n  const typeMap = {\n    receipt: ['Receipts', 'Payments', 'Finance'],\n    invoice: ['Invoices', 'Payments', 'Finance'],\n    contract: ['Contracts', 'Legal Documents', 'Documents'],\n    legal_document: ['Legal Documents', 'Contracts', 'Documents'],\n    tax_document: ['Taxes', 'Finance', 'Documents'],\n    bank_document: ['Bank Documents', 'Finance', 'Documents'],\n    report: ['Reports', 'Analytics', 'Documents'],\n    pdf_document: ['Documents'],\n    text_document: ['Documents'],\n    photo: ['Photos'],\n    screenshot: ['Screenshots', 'Photos'],\n    travel_document: ['Travel', 'Documents'],\n    product: ['Products', 'Shopping'],\n    place: ['Places', 'Travel']\n  };\n\n  preferredTopicNames = typeMap[detectedType] || [];\n}\n\n// Add AI suggested topics after strong rules\npreferredTopicNames = [\n  ...preferredTopicNames,\n  ...suggestedTopics\n]\n  .map(cleanTopicTitle)\n  .filter(Boolean);\n\n// Fallback\nif (preferredTopicNames.length === 0) {\n  preferredTopicNames = ['Documents'];\n}\n\nconst existingTopic = findExistingTopicByNames(preferredTopicNames);\n\nconst aiSummaryBlock = summary\n  ? `\\n\\nAI summary:\\n${summary}`\n  : '';\n\nconst detectedTypeBlock = detectedType\n  ? `\\n\\nDetected type: ${detectedType}`\n  : '';\n\nconst suggestedTopicsBlock = suggestedTopics.length > 0\n  ? `\\n\\nAI suggested topics: ${suggestedTopics.join(', ')}`\n  : '';\n\nconst keywordsBlock = keywords.length > 0\n  ? `\\n\\nKeywords: ${keywords.join(', ')}`\n  : '';\n\nif (existingTopic) {\n  return [\n    {\n      json: {\n        chat_id: original.chat_id,\n        text:\n`Suggested topic:\n\n📁 ${existingTopic.title}\n\nReason: I used the file analysis result to choose the most relevant existing topic.${aiSummaryBlock}${detectedTypeBlock}${suggestedTopicsBlock}${keywordsBlock}`,\n        inline_keyboard: [\n          [\n            {\n              text: `✅ Save to ${existingTopic.title}`,\n              callback_data: `select_topic:${existingTopic.id}`\n            }\n          ],\n          [\n            {\n              text: '📁 Choose another topic',\n              callback_data: 'action:choose_topic'\n            }\n          ],\n          [\n            {\n              text: '➕ Create new topic',\n              callback_data: 'action:create_new'\n            }\n          ],\n          [\n            {\n              text: '❌ Cancel',\n              callback_data: 'action:cancel_pending'\n            }\n          ]\n        ]\n      }\n    }\n  ];\n}\n\nconst newTopicTitle = cleanTopicTitle(preferredTopicNames[0]) || 'Documents';\n\nreturn [\n  {\n    json: {\n      chat_id: original.chat_id,\n      text:\n`Suggested new topic:\n\n📁 ${newTopicTitle}\n\nReason: I used the file analysis result to suggest this topic.${aiSummaryBlock}${detectedTypeBlock}${suggestedTopicsBlock}${keywordsBlock}\n\nCreate this topic and save the message here?`,\n      inline_keyboard: [\n        [\n          {\n            text: `✅ Create \"${newTopicTitle}\"`,\n            callback_data: `ai_create_topic:${encodeURIComponent(newTopicTitle)}`\n          }\n        ],\n        [\n          {\n            text: '📁 Choose existing topic',\n            callback_data: 'action:choose_topic'\n          }\n        ],\n        [\n          {\n            text: '➕ Create manually',\n            callback_data: 'action:create_new'\n          }\n        ],\n        [\n          {\n            text: '❌ Cancel',\n            callback_data: 'action:cancel_pending'\n          }\n        ]\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        32
      ],
      "id": "efb20ebb-f9b5-4f4e-8946-9cd92330d310",
      "name": "build topic from file analysis"
    },
    {
      "parameters": {
        "jsCode": "const original = $('prepare AI prompt').first().json;\n\n// Read AI output from common n8n / LangChain fields\nlet raw =\n  $json.text ||\n  $json.output ||\n  $json.response ||\n  $json.message ||\n  $json.content ||\n  $json.answer ||\n  '';\n\nif (!raw && $json.generations?.[0]?.[0]?.text) {\n  raw = $json.generations[0][0].text;\n}\n\nif (!raw && $json.data) {\n  raw = $json.data;\n}\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = String(raw || '')\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet ai;\n\ntry {\n  ai = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n\n  if (match) {\n    try {\n      ai = JSON.parse(match[0]);\n    } catch (e2) {\n      ai = null;\n    }\n  }\n\n  if (!ai) {\n    ai = {\n      action: 'create_new',\n      suggested_topic_id: null,\n      suggested_topic_title: null,\n      new_topic_title: 'New Notes',\n      summary: null,\n      category: 'note',\n      language: 'unknown',\n      keywords: [],\n      confidence: 0,\n      reason: 'Could not parse AI classification response.',\n      parse_error: e.message,\n      raw_response: raw\n    };\n  }\n}\n\nconst messageText =\n  original.raw_text ||\n  original.content ||\n  original.message_for_ai ||\n  '';\n\nconst keywords = Array.isArray(ai.keywords)\n  ? ai.keywords.filter(Boolean).map(String).slice(0, 12)\n  : [];\n\nlet summary = ai.summary ? String(ai.summary).trim() : '';\n\n// Protect against AI returning the whole original message as summary\nconst normalizedSummary = summary.replace(/\\s+/g, ' ').trim();\nconst normalizedMessage = String(messageText || '').replace(/\\s+/g, ' ').trim();\n\nconst summaryLooksLikeOriginal =\n  normalizedSummary.length > 300 ||\n  (\n    normalizedMessage.length > 0 &&\n    normalizedSummary.length > normalizedMessage.length * 0.65\n  );\n\nif (!summary || summaryLooksLikeOriginal) {\n  const categoryGuess = ai.category || ai.detected_type || 'note';\n\n  if (categoryGuess === 'recipe') {\n    summary = 'Short cooking note with ingredients and preparation steps.';\n  } else if (categoryGuess === 'technical') {\n    summary = 'Technical note with practical implementation details.';\n  } else if (categoryGuess === 'career') {\n    summary = 'Career-related note with professional details.';\n  } else if (categoryGuess === 'finance') {\n    summary = 'Finance-related note with useful details for tracking.';\n  } else if (categoryGuess === 'legal') {\n    summary = 'Legal or agreement-related note with important details.';\n  } else {\n    summary = normalizedMessage\n      ? normalizedMessage.slice(0, 180)\n      : 'Text message';\n  }\n}\n\nconst category = String(\n  ai.category ||\n  ai.detected_type ||\n  'note'\n).trim();\n\nconst language = String(\n  ai.language ||\n  'unknown'\n).trim();\n\nconst confidence = Number(ai.confidence || 0);\n\nconst action = ai.action || 'create_new';\n\nconst suggestedTopicTitle =\n  ai.suggested_topic_title ||\n  ai.new_topic_title ||\n  null;\n\nconst suggestedTopics = suggestedTopicTitle\n  ? [String(suggestedTopicTitle)]\n  : [];\n\nconst importantDetails = [\n  {\n    label: 'reason',\n    value: ai.reason || 'AI classified this message.'\n  },\n  {\n    label: 'action',\n    value: action\n  }\n];\n\nif (suggestedTopicTitle) {\n  importantDetails.push({\n    label: 'suggested_topic',\n    value: suggestedTopicTitle\n  });\n}\n\nconst normalizedAi = {\n  action,\n  suggested_topic_id: ai.suggested_topic_id || null,\n  suggested_topic_title: ai.suggested_topic_title || null,\n  new_topic_title: ai.new_topic_title || null,\n  summary,\n  category,\n  language,\n  keywords,\n  suggested_topics: suggestedTopics,\n  important_details: importantDetails,\n  confidence,\n  reason: ai.reason || 'AI classified this message.'\n};\n\nreturn [\n  {\n    json: {\n      ...original,\n\n      ai_action: normalizedAi.action,\n      ai_suggested_topic_id: normalizedAi.suggested_topic_id,\n      ai_suggested_topic_title: normalizedAi.suggested_topic_title,\n      ai_new_topic_title: normalizedAi.new_topic_title,\n\n      ai_summary: normalizedAi.summary,\n      ai_category: normalizedAi.category,\n      ai_language: normalizedAi.language,\n      ai_keywords: normalizedAi.keywords,\n      ai_suggested_topics: normalizedAi.suggested_topics,\n      ai_important_details: normalizedAi.important_details,\n      ai_confidence: normalizedAi.confidence,\n      ai_reason: normalizedAi.reason,\n\n      ai_raw_json: normalizedAi,\n      ai_raw_text: JSON.stringify(normalizedAi),\n\n      text: JSON.stringify(normalizedAi)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        176
      ],
      "id": "ad7a54e8-1d40-491f-be13-681d172de787",
      "name": "Parse text AI classification"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{ $json.user_id }}::BIGINT AS user_id,\n    {{ $json.chat_id }}::BIGINT AS chat_id,\n\n    {{ $json.pending_message_id || 'NULL' }}::BIGINT AS pending_message_id,\n    {{ $json.message_uuid ? \"'\" + String($json.message_uuid).replace(/'/g, \"''\") + \"'::UUID\" : \"NULL::UUID\" }} AS message_uuid,\n\n    '{{ String($json.message_type || \"text\").replace(/'/g, \"''\") }}'::TEXT AS message_type,\n\n    {{ $json.message_for_ai ? \"'\" + String($json.message_for_ai).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS message_for_ai,\n\n    {{ $json.ai_summary ? \"'\" + String($json.ai_summary).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS ai_summary,\n    {{ $json.ai_category ? \"'\" + String($json.ai_category).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS ai_category,\n    {{ $json.ai_language ? \"'\" + String($json.ai_language).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS ai_language,\n    {{ $json.ai_reason ? \"'\" + String($json.ai_reason).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS ai_reason,\n\n    {{ $json.ai_confidence !== null && $json.ai_confidence !== undefined ? Number($json.ai_confidence) : 0 }}::NUMERIC AS ai_confidence,\n\n\n  '{{ JSON.stringify($json.ai_keywords || []).replace(/'/g, \"''\") }}'::JSONB AS keywords_json,\n  '{{ JSON.stringify($json.ai_suggested_topics || []).replace(/'/g, \"''\") }}'::JSONB AS suggested_topics_json,\n  '{{ JSON.stringify($json.ai_important_details || []).replace(/'/g, \"''\") }}'::JSONB AS important_details_json,\n  '{{ JSON.stringify($json.ai_raw_json || {}).replace(/'/g, \"''\") }}'::JSONB AS raw_ai_json,\n\n    '{{ String($json.ai_raw_text || \"{}\").replace(/'/g, \"''\") }}'::TEXT AS ai_raw_text\n),\n\nprepared AS (\n  SELECT\n    *,\n\n    COALESCE(NULLIF(ai_summary, ''), NULLIF(message_for_ai, ''), 'EMPTY') AS final_summary,\n    COALESCE(NULLIF(ai_category, ''), 'note') AS final_category,\n    COALESCE(NULLIF(ai_language, ''), 'unknown') AS final_language,\n\n    jsonb_build_object(\n      'reason', COALESCE(ai_reason, ''),\n      'message_type', COALESCE(message_type, ''),\n      'dates', '[]'::JSONB,\n      'people', '[]'::JSONB,\n      'places', '[]'::JSONB,\n      'amounts', '[]'::JSONB\n    ) AS final_entities,\n\n    TRIM(CONCAT_WS(E'\\n',\n      'Message type: ' || COALESCE(message_type, ''),\n      'Summary: ' || COALESCE(ai_summary, ''),\n      'Category: ' || COALESCE(ai_category, ''),\n      'Reason: ' || COALESCE(ai_reason, ''),\n      'Message: ' || COALESCE(message_for_ai, '')\n    )) AS final_ai_content\n\n  FROM input_data\n),\n\nmetadata_upsert AS (\n  INSERT INTO gnote.message_ai_metadata (\n    pending_message_id,\n    message_uuid,\n    user_id,\n    source_status,\n\n    summary,\n    detected_type,\n    category,\n    language,\n\n    keywords,\n    suggested_topics,\n    entities,\n    important_details,\n\n    confidence,\n    raw_ai_json,\n    ai_content,\n\n    model_name,\n    analysis_status,\n    created_at,\n    updated_at\n  )\n  SELECT\n    pending_message_id,\n    message_uuid,\n    user_id,\n    'pending',\n\n    final_summary,\n    final_category,\n    final_category,\n    final_language,\n\n    keywords_json,\n    suggested_topics_json,\n    final_entities,\n    important_details_json,\n\n    ai_confidence,\n    raw_ai_json,\n    final_ai_content,\n\n    'gemini',\n    'done',\n    NOW(),\n    NOW()\n  FROM prepared\n  WHERE pending_message_id IS NOT NULL\n\n  ON CONFLICT (pending_message_id)\n  WHERE pending_message_id IS NOT NULL\n  DO UPDATE SET\n    message_uuid = EXCLUDED.message_uuid,\n    user_id = EXCLUDED.user_id,\n    source_status = 'pending',\n\n    summary = EXCLUDED.summary,\n    detected_type = EXCLUDED.detected_type,\n    category = EXCLUDED.category,\n    language = EXCLUDED.language,\n\n    keywords = EXCLUDED.keywords,\n    suggested_topics = EXCLUDED.suggested_topics,\n    entities = EXCLUDED.entities,\n    important_details = EXCLUDED.important_details,\n\n    confidence = EXCLUDED.confidence,\n    raw_ai_json = EXCLUDED.raw_ai_json,\n    ai_content = EXCLUDED.ai_content,\n\n    model_name = EXCLUDED.model_name,\n    analysis_status = EXCLUDED.analysis_status,\n    updated_at = NOW()\n  RETURNING id\n),\n\nindex_upsert AS (\n  INSERT INTO gnote.message_ai_index (\n    message_uuid,\n    user_id,\n    summary,\n    keywords,\n    ai_content,\n    category,\n    language,\n    entities,\n    model_name,\n    processed_at,\n    pending_message_id,\n    message_id,\n    source_status,\n    updated_at\n  )\n  SELECT\n    message_uuid,\n    user_id,\n    final_summary,\n\n    ARRAY(\n      SELECT jsonb_array_elements_text(keywords_json)\n    ),\n\n    final_ai_content,\n    final_category,\n    final_language,\n    final_entities,\n    'gemini',\n    NOW(),\n    pending_message_id,\n    NULL,\n    'pending',\n    NOW()\n  FROM prepared\n  WHERE pending_message_id IS NOT NULL\n\n  ON CONFLICT (pending_message_id)\n  WHERE pending_message_id IS NOT NULL\n  DO UPDATE SET\n    message_uuid = EXCLUDED.message_uuid,\n    user_id = EXCLUDED.user_id,\n    summary = EXCLUDED.summary,\n    keywords = EXCLUDED.keywords,\n    ai_content = EXCLUDED.ai_content,\n    category = EXCLUDED.category,\n    language = EXCLUDED.language,\n    entities = EXCLUDED.entities,\n    model_name = EXCLUDED.model_name,\n    processed_at = NOW(),\n    source_status = 'pending',\n    updated_at = NOW()\n  RETURNING id\n)\n\nSELECT\n  prepared.user_id,\n  prepared.chat_id,\n  prepared.pending_message_id,\n  prepared.message_uuid,\n  prepared.message_type,\n\n  prepared.message_for_ai,\n\n  prepared.final_summary AS ai_summary,\n  prepared.final_category AS ai_category,\n  prepared.final_language AS ai_language,\n  prepared.ai_reason,\n  prepared.ai_confidence,\n\n  prepared.raw_ai_json AS ai_raw_json,\n  prepared.ai_raw_text AS text,\n\n  (SELECT COUNT(*) FROM metadata_upsert) AS metadata_rows,\n  (SELECT COUNT(*) FROM index_upsert) AS index_rows\n\nFROM prepared;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        176
      ],
      "id": "c5b85d70-c7dd-4012-a7a1-3deddcfb5279",
      "name": "Save text AI metadata/index",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "get user topics for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get user topics for AI": {
      "main": [
        [
          {
            "node": "prepare AI prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare AI prompt": {
      "main": [
        [
          {
            "node": "IF use file analysis directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI classify topic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI classify topic": {
      "main": [
        [
          {
            "node": "Parse text AI classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF use file analysis directly": {
      "main": [
        [
          {
            "node": "build topic from file analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI classify topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse text AI classification": {
      "main": [
        [
          {
            "node": "Save text AI metadata/index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save text AI metadata/index": {
      "main": [
        [
          {
            "node": "build AI topic keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9b93deb5-3510-45e0-b2a5-bc2146fa8521",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55f8b8197c6537282f737c6a15b6220454fb4f0ecbeb5fdd2fcb6f35f67501c5"
  },
  "id": "X5Wj5lUa4CLTFzJL",
  "tags": []
}