n8n/gnot.json
{
  "name": "gnot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1296,
        224
      ],
      "id": "0f2fce92-e0b7-4242-8b04-2923765a4380",
      "name": "Telegram Trigger",
      "webhookId": "0f710f99-a5d5-4451-8c1d-216b54d2e883",
      "credentials": {
        "telegramApi": {
          "id": "L6tMdX179iCyx0Bk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT state, created_at\nFROM gnote.user_state\nWHERE user_id = {{ $json.message.from.id }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        1184
      ],
      "id": "eee43de4-972c-4075-8225-d22c61d5a69a",
      "name": "get user state",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_user AS (\n  SELECT\n    {{ $json.user_id }}::BIGINT AS user_id,\n    '{{ $(\"Telegram Trigger\").first().json.message.from.username || \"\" }}'::TEXT AS username,\n    '{{ $(\"Telegram Trigger\").first().json.message.from.first_name || \"\" }}'::TEXT AS first_name,\n    '{{ $(\"Telegram Trigger\").first().json.message.from.last_name || \"\" }}'::TEXT AS last_name\n),\n\nprepared_user AS (\n  SELECT\n    user_id,\n    username,\n    first_name,\n    last_name,\n    COALESCE(\n      NULLIF(TRIM(first_name || ' ' || last_name), ''),\n      NULLIF(username, ''),\n      'Telegram User'\n    ) AS display_name\n  FROM input_user\n),\n\nupsert_user AS (\n  INSERT INTO gnote.users (\n    id,\n    name,\n    username,\n    first_name,\n    last_name,\n    all_messages\n  )\n  SELECT\n    user_id,\n    display_name,\n    username,\n    first_name,\n    last_name,\n    0\n  FROM prepared_user\n  ON CONFLICT (id) DO UPDATE SET\n    name = EXCLUDED.name,\n    username = EXCLUDED.username,\n    first_name = EXCLUDED.first_name,\n    last_name = EXCLUDED.last_name\n  RETURNING id\n),\n\nensure_deleted_topic AS (\n  INSERT INTO gnote.topics (\n    user_id,\n    title,\n    created_at,\n    removable\n  )\n  SELECT\n    {{ $json.user_id }}::BIGINT,\n    'deleted messages',\n    NOW(),\n    FALSE\n  WHERE NOT EXISTS (\n    SELECT 1\n    FROM gnote.topics\n    WHERE user_id = {{ $json.user_id }}::BIGINT\n      AND LOWER(title) = 'deleted messages'\n  )\n  RETURNING id\n),\n\n  \nold_pending AS (\n  SELECT\n    id,\n    message_uuid,\n    user_id\n  FROM gnote.pending_messages\n  WHERE user_id = {{ $json.user_id }}\n),\n\ndelete_old_metadata AS (\n  DELETE FROM gnote.message_ai_metadata meta\n  USING old_pending p\n  WHERE meta.user_id = p.user_id\n    AND meta.message_id IS NULL\n    AND (\n      meta.pending_message_id = p.id\n      OR meta.message_uuid = p.message_uuid\n    )\n  RETURNING meta.id\n),\n\ndelete_old_metadata_orphans AS (\n  DELETE FROM gnote.message_ai_metadata meta\n  WHERE meta.user_id = {{ $json.user_id }}\n    AND meta.message_id IS NULL\n    AND meta.pending_message_id IS NULL\n    AND COALESCE(meta.source_status, 'pending') = 'pending'\n    AND meta.created_at > NOW() - INTERVAL '2 hours'\n  RETURNING meta.id\n),\n\nclear_old_pending AS (\n  DELETE FROM gnote.pending_messages pm\n  USING old_pending p\n  WHERE pm.id = p.id\n  RETURNING pm.id\n),\n\n  \n\ninsert_pending AS (\n  INSERT INTO gnote.pending_messages (\n    user_id,\n    message,\n    created_at,\n    message_type,\n    file_id,\n    file_unique_id,\n    file_name,\n    mime_type,\n    caption,\n    telegram_file_path,\n    file_url,\n    latitude,\n    longitude,\n    location_title,\n    location_address,\n    maps_url\n  )\n  VALUES (\n    {{ $json.user_id }},\n    '{{ String($json.message || \"\").replace(/'/g, \"''\") }}',\n    NOW(),\n    '{{ $json.message_type || \"text\" }}',\n    {{ $json.file_id ? \"'\" + String($json.file_id).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.file_unique_id ? \"'\" + String($json.file_unique_id).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.file_name ? \"'\" + String($json.file_name).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.mime_type ? \"'\" + String($json.mime_type).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.caption ? \"'\" + String($json.caption).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.telegram_file_path ? \"'\" + String($json.telegram_file_path).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.file_url ? \"'\" + String($json.file_url).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.latitude !== null && $json.latitude !== undefined ? Number($json.latitude) : \"NULL\" }},\n    {{ $json.longitude !== null && $json.longitude !== undefined ? Number($json.longitude) : \"NULL\" }},\n    {{ $json.location_title ? \"'\" + String($json.location_title).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.location_address ? \"'\" + String($json.location_address).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.maps_url ? \"'\" + String($json.maps_url).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}\n  )\n  RETURNING *\n)\n\nSELECT\n  insert_pending.id AS pending_message_id,\n  insert_pending.message_uuid,\n  insert_pending.user_id,\n  {{ $json.chat_id }}::BIGINT AS chat_id,\n  insert_pending.message,\n  insert_pending.message_type,\n  insert_pending.file_id,\n  insert_pending.file_unique_id,\n  insert_pending.file_name,\n  insert_pending.mime_type,\n  insert_pending.caption,\n  insert_pending.telegram_file_path,\n  insert_pending.file_url,\n  insert_pending.latitude,\n  insert_pending.longitude,\n  insert_pending.location_title,\n  insert_pending.location_address,\n  insert_pending.maps_url\nFROM insert_pending;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        1120
      ],
      "id": "df0df0e8-fc5c-4164-b015-b3340f902d8a",
      "name": "add user/message",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.effective_state }}",
                    "rightValue": "idle",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "df55f900-0a80-43cf-a07f-3694e29e72d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "handle message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "67c96157-c9e8-43dc-ad6f-d20adf49a9ec",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "waiting_search_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "handle search"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a18b8885-609d-4b1d-b222-993ba651893c",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "waiting_for_extra_keywords",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "handle extra keywords"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1104,
        1440
      ],
      "id": "77e93e5d-d90c-480c-bcae-a56e75981a0b",
      "name": "switch state"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst text = String(\n  input.message ||\n  input.raw_text ||\n  input.text ||\n  input.content ||\n  ''\n).trim();\n\nconst lowerText = text.toLowerCase();\n\nconst dbState =\n  input.state ||\n  input.user_state ||\n  'idle';\n\nlet effectiveState = dbState || 'idle';\n\nconst isSearchCommand =\n  lowerText === '/search' ||\n  lowerText.startsWith('/search ');\n\nconst isCancelCommand =\n  lowerText === '/cancel' ||\n  lowerText === 'cancel';\n\nif (isCancelCommand) {\n  effectiveState = 'command_cancel';\n} else if (isSearchCommand) {\n  effectiveState = 'command_search';\n} else if (dbState === 'waiting_search_query') {\n  effectiveState = 'waiting_search_query';\n} else if (!effectiveState) {\n  effectiveState = 'idle';\n}\n\nconst searchQueryFromCommand = isSearchCommand\n  ? text.replace(/^\\/search(@\\w+)?/i, '').trim()\n  : '';\n\nreturn [\n  {\n    json: {\n      ...input,\n      state: dbState,\n      effective_state: effectiveState,\n      is_search_command: isSearchCommand,\n      search_query: searchQueryFromCommand,\n      has_search_query: searchQueryFromCommand.length > 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        1184
      ],
      "id": "7ebdcec1-366d-4b18-a950-6e0f04bceb3c",
      "name": "normalize state",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": " Main Event Router\n\nThis block receives all incoming Telegram updates and routes them by event type.\n- `message` — regular user text message\n- `callback_query` — inline keyboard button click\n",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1312,
        0
      ],
      "id": "f1d19614-d7d4-41cb-92e8-b1c7d4e72bda",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Telegram Trigger').first().json;\nconst msg = trigger.message;\n\nif (!msg) {\n  throw new Error('No Telegram message found in Telegram Trigger');\n}\n\nconst userId = msg.from.id;\nconst chatId = msg.chat.id;\n\nfunction basePayload(extra = {}) {\n  return {\n    user_id: userId,\n    chat_id: chatId,\n\n    message: null,\n    content: null,\n    message_type: 'text',\n\n    file_id: null,\n    file_unique_id: null,\n    file_name: null,\n    mime_type: null,\n    caption: null,\n    telegram_file_path: null,\n    file_url: null,\n\n    latitude: null,\n    longitude: null,\n    location_title: null,\n    location_address: null,\n    maps_url: null,\n\n    ...extra\n  };\n}\n\n// Text\nif (msg.text) {\n  return [\n    {\n      json: basePayload({\n        message_type: 'text',\n        message: msg.text,\n        content: msg.text\n      })\n    }\n  ];\n}\n\n// Location\nif (msg.location) {\n  const lat = msg.location.latitude;\n  const lon = msg.location.longitude;\n  const mapsUrl = `https://maps.google.com/?q=${lat},${lon}`;\n\n  return [\n    {\n      json: basePayload({\n        message_type: 'location',\n        message: `Shared location: ${mapsUrl}`,\n        content: `Shared location: ${mapsUrl}`,\n        latitude: lat,\n        longitude: lon,\n        location_title: msg.venue?.title || null,\n        location_address: msg.venue?.address || null,\n        maps_url: mapsUrl\n      })\n    }\n  ];\n}\n\n// Venue\n// Telegram venue usually also contains location\nif (msg.venue) {\n  const lat = msg.venue.location.latitude;\n  const lon = msg.venue.location.longitude;\n  const mapsUrl = `https://maps.google.com/?q=${lat},${lon}`;\n\n  return [\n    {\n      json: basePayload({\n        message_type: 'location',\n        message: `Shared venue: ${msg.venue.title || 'Location'}\\n${mapsUrl}`,\n        content: `Shared venue: ${msg.venue.title || 'Location'}\\n${mapsUrl}`,\n        latitude: lat,\n        longitude: lon,\n        location_title: msg.venue.title || null,\n        location_address: msg.venue.address || null,\n        maps_url: mapsUrl\n      })\n    }\n  ];\n}\n\n// Video note / Telegram circle video\nif (msg.video_note) {\n  return [\n    {\n      json: basePayload({\n        message_type: 'video_note',\n        message: '[video note]',\n        content: '[video note]',\n        file_id: msg.video_note.file_id,\n        file_unique_id: msg.video_note.file_unique_id,\n        mime_type: 'video/mp4',\n        caption: null\n      })\n    }\n  ];\n}\n\n\n// Photo\nif (msg.photo && msg.photo.length > 0) {\n  const photo = msg.photo[msg.photo.length - 1];\n\n  return [\n    {\n      json: basePayload({\n        message_type: 'photo',\n        message: msg.caption || '[photo]',\n        content: msg.caption || '[photo]',\n        file_id: photo.file_id,\n        file_unique_id: photo.file_unique_id,\n        caption: msg.caption || null\n      })\n    }\n  ];\n}\n\n// Document / file\nif (msg.document) {\n  return [\n    {\n      json: basePayload({\n        message_type: 'document',\n        message: msg.caption || msg.document.file_name || '[document]',\n        content: msg.caption || msg.document.file_name || '[document]',\n        file_id: msg.document.file_id,\n        file_unique_id: msg.document.file_unique_id,\n        file_name: msg.document.file_name || null,\n        mime_type: msg.document.mime_type || null,\n        caption: msg.caption || null\n      })\n    }\n  ];\n}\n\n// Voice\nif (msg.voice) {\n  return [\n    {\n      json: basePayload({\n        message_type: 'voice',\n        message: msg.caption || '[voice message]',\n        content: msg.caption || '[voice message]',\n        file_id: msg.voice.file_id,\n        file_unique_id: msg.voice.file_unique_id,\n        mime_type: msg.voice.mime_type || 'audio/ogg',\n        caption: msg.caption || null\n      })\n    }\n  ];\n}\n\n// Audio\nif (msg.audio) {\n  return [\n    {\n      json: basePayload({\n        message_type: 'audio',\n        message: msg.caption || msg.audio.file_name || msg.audio.title || '[audio]',\n        content: msg.caption || msg.audio.file_name || msg.audio.title || '[audio]',\n        file_id: msg.audio.file_id,\n        file_unique_id: msg.audio.file_unique_id,\n        file_name: msg.audio.file_name || msg.audio.title || null,\n        mime_type: msg.audio.mime_type || null,\n        caption: msg.caption || null\n      })\n    }\n  ];\n}\n\n// Video\nif (msg.video) {\n  return [\n    {\n      json: basePayload({\n        message_type: 'video',\n        message: msg.caption || '[video]',\n        content: msg.caption || '[video]',\n        file_id: msg.video.file_id,\n        file_unique_id: msg.video.file_unique_id,\n        mime_type: msg.video.mime_type || 'video/mp4',\n        caption: msg.caption || null\n      })\n    }\n  ];\n}\n\n// Fallback\nreturn [\n  {\n    json: basePayload({\n      message_type: 'unknown',\n      message: '[unrecognized message]',\n      content: '[unrecognized message]'\n    })\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1184
      ],
      "id": "44bd8587-7a30-4590-8a94-cc683176bed7",
      "name": "prepare message payload"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (!input.callback_query) {\n  throw new Error('This node expects callback_query');\n}\n\nconst data = input.callback_query.data;\n// пример: download_msg:123\n\nconst messageId = Number(data.split(':')[1]);\n\nif (!messageId) {\n  throw new Error(`Invalid message id in callback data: ${data}`);\n}\n\nreturn [\n  {\n    json: {\n      user_id: input.callback_query.from.id,\n      chat_id: input.callback_query.message.chat.id,\n      message_id: messageId,\n      callback_query_id: input.callback_query.id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -704
      ],
      "id": "f9b4d501-2507-478b-adbc-2f899992b507",
      "name": "parse download message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.id,\n  m.user_id,\n  m.topic_id,\n  m.content,\n  m.created_at,\n  m.message_type,\n  m.file_id,\n  m.file_unique_id,\n  m.file_name,\n  m.mime_type,\n  m.caption,\n  t.title AS topic_title,\n  {{ $json.chat_id }}::BIGINT AS chat_id,\n  '{{ $json.callback_query_id }}' AS callback_query_id\nFROM gnote.messages m\nJOIN gnote.topics t\n  ON t.id = m.topic_id\n AND t.user_id = m.user_id\nWHERE m.id = {{ $json.message_id }}\n  AND m.user_id = {{ $json.user_id }}\n  AND m.file_id IS NOT NULL\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        -704
      ],
      "id": "0b337420-cf84-4fdf-ab7a-47d4d36fd3af",
      "name": "get file message",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst trigger = $('Telegram Trigger').first().json;\n\nconst fallbackChatId =\n  trigger.callback_query?.message?.chat?.id ||\n  trigger.callback_query?.from?.id ||\n  trigger.message?.chat?.id ||\n  trigger.message?.from?.id;\n\nif (items.length === 0) {\n  return [\n    {\n      json: {\n        api_method: 'sendMessage',\n        body: {\n          chat_id: fallbackChatId,\n          text: 'File not found or you do not have access ⚠️'\n        }\n      }\n    }\n  ];\n}\n\nconst data = items[0].json;\n\nconst chatId = data.chat_id || fallbackChatId;\nconst messageType = data.message_type || 'document';\n\nconst caption =\n  data.caption ||\n  data.file_name ||\n  data.content ||\n  '';\n\nif (!data.file_id && messageType !== 'location') {\n  return [\n    {\n      json: {\n        api_method: 'sendMessage',\n        body: {\n          chat_id: chatId,\n          text: 'This message has no downloadable file ⚠️'\n        }\n      }\n    }\n  ];\n}\n\n// Location is not a file, send it as a map link\nif (messageType === 'location') {\n  const title = data.location_title ? `\\n${data.location_title}` : '';\n  const address = data.location_address ? `\\n${data.location_address}` : '';\n\n  const coords =\n    data.latitude !== null &&\n    data.latitude !== undefined &&\n    data.longitude !== null &&\n    data.longitude !== undefined\n      ? `\\nCoordinates: ${data.latitude}, ${data.longitude}`\n      : '';\n\n  const maps = data.maps_url ? `\\nGoogle Maps: ${data.maps_url}` : '';\n\n  return [\n    {\n      json: {\n        api_method: 'sendMessage',\n        body: {\n          chat_id: chatId,\n          text: `📍 Location${title}${address}${coords}${maps}`.trim(),\n          disable_web_page_preview: false\n        }\n      }\n    }\n  ];\n}\n\n// Photo\nif (messageType === 'photo') {\n  const body = {\n    chat_id: chatId,\n    photo: data.file_id\n  };\n\n  if (data.caption) {\n    body.caption = data.caption;\n  }\n\n  return [\n    {\n      json: {\n        api_method: 'sendPhoto',\n        body\n      }\n    }\n  ];\n}\n\n// Video\nif (messageType === 'video') {\n  const body = {\n    chat_id: chatId,\n    video: data.file_id\n  };\n\n  if (caption) {\n    body.caption = caption;\n  }\n\n  return [\n    {\n      json: {\n        api_method: 'sendVideo',\n        body\n      }\n    }\n  ];\n}\n\n// Telegram circle video / video note\nif (messageType === 'video_note') {\n  return [\n    {\n      json: {\n        api_method: 'sendVideoNote',\n        body: {\n          chat_id: chatId,\n          video_note: data.file_id\n        }\n      }\n    }\n  ];\n}\n\n// Voice message\nif (messageType === 'voice') {\n  const body = {\n    chat_id: chatId,\n    voice: data.file_id\n  };\n\n  if (caption && caption !== '[voice message]') {\n    body.caption = caption;\n  }\n\n  return [\n    {\n      json: {\n        api_method: 'sendVoice',\n        body\n      }\n    }\n  ];\n}\n\n// Audio file\nif (messageType === 'audio') {\n  const body = {\n    chat_id: chatId,\n    audio: data.file_id\n  };\n\n  if (caption) {\n    body.caption = caption;\n  }\n\n  return [\n    {\n      json: {\n        api_method: 'sendAudio',\n        body\n      }\n    }\n  ];\n}\n\n// Document / PDF / Word / Excel / unknown file\nconst body = {\n  chat_id: chatId,\n  document: data.file_id\n};\n\nif (caption) {\n  body.caption = caption;\n}\n\nreturn [\n  {\n    json: {\n      api_method: 'sendDocument',\n      body\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -704
      ],
      "id": "2f3f6f88-f541-435f-97f6-3fb94838ea84",
      "name": "prepare file download"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.api_method }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -704
      ],
      "id": "900d83a0-2520-4f67-8f04-d25ab56e3c44",
      "name": "send file item"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nconst chatId =\n  input.chat_id ||\n  input.message?.chat?.id ||\n  input.callback_query?.message?.chat?.id ||\n  input.callback_query?.from?.id ||\n  input.message?.from?.id ||\n  null;\n\nconst userId =\n  input.user_id ||\n  input.message?.from?.id ||\n  input.callback_query?.from?.id ||\n  chatId;\n\nreturn [\n  {\n    json: {\n      user_id: userId,\n      chat_id: chatId,\n      text:\n`👋 Memoraq saves and finds your important Telegram memories.\n\nSend me text, photos, PDFs, files, voice messages, or locations.\n\nCommands:\n/search — find saved messages by text or voice\n/keywords — show all keywords\n/help — show help\n\nAfter /search, you can type search words or send a short voice message.\n\nSearch examples:\nsalary\nNAYA salary\nbank document\nphoto conference\n\nAfter analysis choose:\n✅ Save\n➕ Add keywords\n❌ Cancel`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        720
      ],
      "id": "e357d560-6d68-492f-b06f-8d74bf48618c",
      "name": "create help text"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        720
      ],
      "id": "26d58c4f-a0a0-4f57-a4c6-ff2a9c64b3da",
      "name": "send help text",
      "webhookId": "f52f3960-ddfa-4059-961a-46dafcce3b42",
      "credentials": {
        "telegramApi": {
          "id": "L6tMdX179iCyx0Bk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (!input.callback_query) {\n  throw new Error('This node expects callback_query');\n}\n\nconst data = input.callback_query.data;\nconst topicId = Number(data.split(':')[1]);\n\nif (!topicId) {\n  throw new Error(`Invalid topic id in callback data: ${data}`);\n}\n\nreturn [\n  {\n    json: {\n      user_id: input.callback_query.from.id,\n      chat_id: input.callback_query.message.chat.id,\n      topic_id: topicId,\n      callback_query_id: input.callback_query.id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -528
      ],
      "id": "ebbcacd2-690b-43cd-8632-5ab8eee3498a",
      "name": "parse delete topic"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  t.id,\n  t.title,\n  t.removable,\n  COUNT(m.id) AS messages_count,\n  {{ $json.user_id }}::BIGINT AS user_id,\n  {{ $json.chat_id }}::BIGINT AS chat_id\nFROM gnote.topics t\nLEFT JOIN gnote.messages m\n  ON m.topic_id = t.id\n  AND m.user_id = t.user_id\n  AND m.deleted_at IS NULL\nWHERE t.id = {{ $json.topic_id }}\n  AND t.user_id = {{ $json.user_id }}\n  AND t.removable = TRUE\n  AND LOWER(t.title) <> 'deleted_messages'\nGROUP BY t.id, t.title, t.removable;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        -528
      ],
      "id": "f95ad068-0df1-45a6-91d8-cd4586b72796",
      "name": "get delete topic info",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst trigger = $('Telegram Trigger').first().json;\n\nconst fallbackChatId =\n  trigger.callback_query?.message?.chat?.id ||\n  trigger.callback_query?.from?.id;\n\nif (items.length === 0 || !items[0].json.id) {\n  return [\n    {\n      json: {\n        chat_id: fallbackChatId,\n        text: 'Topic not found or cannot be deleted ⚠️',\n        inline_keyboard: [\n          [\n            {\n              text: 'Cancel',\n              callback_data: 'del_cancel'\n            }\n          ]\n        ]\n      }\n    }\n  ];\n}\n\nconst item = items[0].json;\n\nconst title = String(item.title || 'topic').trim();\nconst count = Number(item.messages_count || 0);\n\nreturn [\n  {\n    json: {\n      chat_id: item.chat_id,\n      text: `for deletion ${title}(${count})`,\n      inline_keyboard: [\n        [\n          {\n            text: 'Delete whole topic',\n            callback_data: `del_all_topic:${item.id}`\n          }\n        ],\n        [\n          {\n            text: 'Delete message from topic',\n            callback_data: `del_messages_topic:${item.id}`\n          }\n        ],\n        [\n          {\n            text: 'Cancel',\n            callback_data: 'del_cancel'\n          }\n        ]\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -528
      ],
      "id": "00b563e5-5f8f-41a4-9393-df3d5295557a",
      "name": "create delete action keyboard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.text,\n    reply_markup: {\n      inline_keyboard: $json.inline_keyboard\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -528
      ],
      "id": "2e163276-7d45-4518-bb4e-4df3d0ce1e14",
      "name": "send delaction keyboard"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst callback = input.callback_query;\n\nif (!callback) {\n  throw new Error('This node expects callback_query');\n}\n\nconst data = String(callback.data || '');\n\nconst match = data.match(/^(delete_message|delete_msg|del_msg):(\\d+)$/);\n\nif (!match) {\n  throw new Error(`Unsupported delete callback: ${data}`);\n}\n\nconst messageId = Number(match[2]);\n\nreturn [\n  {\n    json: {\n      user_id: callback.from.id,\n      chat_id: callback.message.chat.id,\n      callback_query_id: callback.id,\n      telegram_message_id: callback.message.message_id,\n      message_id: messageId,\n      callback_data: data\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -368
      ],
      "id": "79df7024-b8b0-4b37-8391-d2d926a63109",
      "name": "parse delete message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{ $json.user_id }}::BIGINT AS user_id,\n    {{ $json.chat_id }}::BIGINT AS chat_id,\n    {{ $json.message_id }}::BIGINT AS message_id,\n    {{ $json.telegram_message_id }}::BIGINT AS telegram_message_id,\n    '{{ String($json.callback_query_id || \"\").replace(/'/g, \"''\") }}'::TEXT AS callback_query_id\n),\n\nupdated AS (\n  UPDATE gnote.messages m\n  SET deleted_at = NOW()\n  FROM input_data i\n  WHERE m.id = i.message_id\n    AND m.user_id = i.user_id\n    AND m.deleted_at IS NULL\n  RETURNING\n    m.id,\n    m.user_id,\n    m.message_type,\n    m.file_name,\n    m.caption,\n    m.content,\n    m.created_at\n),\n\nupdate_ai_metadata AS (\n  UPDATE gnote.message_ai_metadata meta\n  SET\n    source_status = 'deleted',\n    updated_at = NOW()\n  FROM updated u\n  WHERE meta.message_id = u.id\n    AND meta.user_id = u.user_id\n  RETURNING meta.id\n)\n\nSELECT\n  i.user_id,\n  i.chat_id,\n  i.message_id,\n  i.telegram_message_id,\n  i.callback_query_id,\n\n  COUNT(u.id) AS deleted_count,\n\n  COALESCE(\n    MAX(u.file_name),\n    MAX(u.caption),\n    MAX(u.content),\n    'message'\n  ) AS deleted_preview,\n\n  MAX(u.message_type) AS message_type,\n\n  (SELECT COUNT(*) FROM update_ai_metadata) AS updated_metadata_count\n\nFROM input_data i\nLEFT JOIN updated u ON TRUE\nGROUP BY\n  i.user_id,\n  i.chat_id,\n  i.message_id,\n  i.telegram_message_id,\n  i.callback_query_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        -368
      ],
      "id": "054b64df-e568-4190-85b0-83b83b401fc3",
      "name": "move message to deleted",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Deletion canceled ✅",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -208
      ],
      "id": "39c6fdcf-aabb-43d2-8643-f399160ce766",
      "name": "Deletion canceled",
      "webhookId": "d91a4331-5737-4020-acd7-0d3ba71cd551",
      "credentials": {
        "telegramApi": {
          "id": "L6tMdX179iCyx0Bk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (!input.callback_query) {\n  throw new Error('This node expects callback_query');\n}\n\nreturn [\n  {\n    json: {\n      user_id: input.callback_query.from.id,\n      chat_id: input.callback_query.message.chat.id,\n      callback_query_id: input.callback_query.id,\n      telegram_message_id: input.callback_query.message.message_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -64
      ],
      "id": "23c2b53d-55f1-4c58-8325-c5edad39ef87",
      "name": "parse cancel pending"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{ $json.user_id }}::BIGINT AS user_id,\n    {{ $json.chat_id }}::BIGINT AS chat_id,\n    {{ $json.callback_query_id ? \"'\" + String($json.callback_query_id).replace(/'/g, \"''\") + \"'\" : \"NULL\" }}::TEXT AS callback_query_id,\n    {{ $json.telegram_message_id || \"NULL\" }}::BIGINT AS telegram_message_id\n),\n\npending_to_delete AS (\n  SELECT\n    id,\n    message_uuid,\n    user_id,\n    created_at\n  FROM gnote.pending_messages\n  WHERE user_id = (SELECT user_id FROM input_data)\n),\n\ndeleted_metadata_linked AS (\n  DELETE FROM gnote.message_ai_metadata meta\n  USING pending_to_delete p\n  WHERE meta.user_id = p.user_id\n    AND meta.message_id IS NULL\n    AND (\n      meta.pending_message_id = p.id\n      OR meta.message_uuid = p.message_uuid\n    )\n  RETURNING meta.id\n),\n\ndeleted_pending AS (\n  DELETE FROM gnote.pending_messages pm\n  USING pending_to_delete p\n  WHERE pm.id = p.id\n  RETURNING pm.id\n),\n\ndeleted_metadata_orphans AS (\n  DELETE FROM gnote.message_ai_metadata meta\n  WHERE meta.user_id = (SELECT user_id FROM input_data)\n    AND meta.message_id IS NULL\n    AND meta.pending_message_id IS NULL\n    AND COALESCE(meta.source_status, 'pending') = 'pending'\n    AND meta.created_at > NOW() - INTERVAL '2 hours'\n  RETURNING meta.id\n),\n\nclear_state AS (\n  DELETE FROM gnote.user_state\n  WHERE user_id = (SELECT user_id FROM input_data)\n)\n\nSELECT\n  (SELECT user_id FROM input_data) AS user_id,\n  (SELECT chat_id FROM input_data) AS chat_id,\n  (SELECT callback_query_id FROM input_data) AS callback_query_id,\n  (SELECT telegram_message_id FROM input_data) AS telegram_message_id,\n\n  (SELECT COUNT(*) FROM deleted_pending) AS deleted_count,\n\n  (\n    (SELECT COUNT(*) FROM deleted_metadata_linked)\n    +\n    (SELECT COUNT(*) FROM deleted_metadata_orphans)\n  ) AS deleted_metadata_count;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -64
      ],
      "id": "6192786c-8163-4869-98db-56d826631739",
      "name": "delete pending message",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    callback_query_id: $json.callback_query_id,\n    text: $json.deleted_count > 0 ? 'Cancelled' : 'Nothing to cancel',\n    show_alert: false\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        -144
      ],
      "id": "5f3fdf53-1584-4958-8f55-dac5db9949fe",
      "name": "answer cancel callback"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.deleted_count > 0\n      ? 'Cancelled. The message was not saved.'\n      : 'Nothing to cancel.'\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "1ee16e7c-cfb2-421d-a829-346bd0dc20dd",
      "name": "send cancel result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "103db02c-acb7-4299-a9e1-4999f9fb1cd8",
              "leftValue": "={{ !!$json.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1088,
        224
      ],
      "id": "3136947d-1cec-4764-bfbd-2b8efee6e751",
      "name": "IF update is callback"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "704c19a4-68fb-4816-816a-b5cafc175284",
                    "leftValue": "={{ $json.callback_query?.data?.startsWith('download_msg:') || false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=download file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "02c0be1f-51b0-4723-8aa8-e679a243a166",
                    "leftValue": "={{ $json.callback_query?.data?.startsWith('del_select_topic:') || false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete selected topic menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c7ee710b-02f9-4c53-b9d4-6c6e621b984d",
                    "leftValue": "={{ $json.callback_query?.data?.startsWith('delete_msg:') || false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "be09357d-2479-4bfc-8244-9db797ad1691",
                    "leftValue": "={{ $json.callback_query?.data === 'del_cancel' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=delete cancel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c48e028d-4150-418a-9085-e83002bcb735",
                    "leftValue": "={{ $json.callback_query?.data === 'action:cancel_pending' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d4cc985-cbf4-4abf-9bb5-78d7e6a9f3ae",
                    "leftValue": "={{ ($json.callback_query?.data || '').startsWith('action:search') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "seach again"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1288719b-6c24-480e-8983-4ea890cb749c",
                    "leftValue": "={{ $json.callback_query?.data === 'action:save_pending' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "save pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c9583a7e-19c2-430d-9aa7-b9d584361691",
                    "leftValue": "={{ $json.callback_query?.data === 'action:add_keywords' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add keywords"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3bbd6472-cf3a-4084-b8cc-a1e9f17b6059",
                    "leftValue": "={{    $json.callback_query?.data?.startsWith('delete_message:') ||   $json.callback_query?.data?.startsWith('delete_msg:') ||   $json.callback_query?.data?.startsWith('del_msg:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a839d144-ff8b-46a9-8ddf-948337190fc8",
                    "leftValue": "={{ $json.callback_query?.data?.startsWith('summary_msg:') || false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "summary message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e0fe76cc-bf10-4012-905f-2095152586df",
                    "leftValue": "={{ $json.callback_query?.data?.startsWith('search_show_all:') || false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "show search all"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "936668ea-495b-4187-993f-ff7b24c96624",
                    "leftValue": "={{ $json.callback_query?.data?.startsWith('search_show_top:') || false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "show search top"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a3a2ec7d-0f4c-4584-89f1-2db9df16d7e7",
                    "leftValue": "={{\n  !$json.callback_query &&\n  (\n    String($json.message?.text || '').trim().toLowerCase().startsWith('/keywords') ||\n    String($json.message?.text || '').trim().toLowerCase().startsWith('/keys')\n  )\n}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "keywords"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -816,
        -160
      ],
      "id": "aefbfa51-2c40-4c7d-a9d9-ff51474199dc",
      "name": "Switch callbacks1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "92d99f41-3535-465c-b860-f9a354843cdc",
                    "leftValue": "={{ ['/start', '/help'].includes($json.message?.text || '') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e4d8c148-8d82-4f37-9d51-384bfa5ceb24",
                    "leftValue": "={{\n  !$json.callback_query &&\n  (\n    String($json.message?.text || '').trim().toLowerCase().startsWith('/keywords') ||\n    String($json.message?.text || '').trim().toLowerCase().startsWith('/keys')\n  )\n}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "keywords list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6fa1191-68d6-41be-99e1-c97253cf4389",
                    "leftValue": "={{ $json.message?.text === '/search' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "adde968c-8aa4-4e7c-bdd6-efb14009b8d6",
                    "leftValue": "={{\n  !$json.callback_query &&\n  !!($json.message?.text || $json.message?.caption) &&\n  String($json.message?.text || $json.message?.caption || '').trim().length > 0 &&\n  String($json.message?.text || $json.message?.caption || '').trim().length < 3 &&\n  !String($json.message?.text || $json.message?.caption || '').trim().startsWith('/')\n}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "short message help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "abf909d4-e496-4e67-8a2f-7853195cfaf7",
                    "leftValue": "={{ !!$json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=get message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -832,
        816
      ],
      "id": "9b129964-7af2-482c-834d-c198dcd765a4",
      "name": "switch messages"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LKbS6PuajKHdJMKhtiElU",
          "mode": "list",
          "cachedResultUrl": "/workflow/LKbS6PuajKHdJMKhtiElU",
          "cachedResultName": "Memoraq - Search Messages"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        1440
      ],
      "id": "6bf14e9b-abc8-476f-bfb5-e24e245adc5c",
      "name": "Call 'Memoraq - Search Messages'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gnote.user_state\nSET\n  state = 'idle',\n  search_query = NULL,\n  updated_at = NOW()\nWHERE user_id = {{ \n  (\n    $('Prepare search query payload').first().json.user_id\n    || $('switch messages').first().json.message?.from?.id\n    || $('switch messages').first().json.callback_query?.from?.id\n    || $('Telegram Trigger').first().json.message?.from?.id\n    || $('Telegram Trigger').first().json.callback_query?.from?.id\n  )\n}}::BIGINT\nRETURNING user_id, state;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2048,
        1520
      ],
      "id": "87be8dd8-6c4e-46f0-9059-3486f021da74",
      "name": "Clear search state",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gnote.user_state (\n  user_id,\n  state,\n  search_query,\n  updated_at\n)\nVALUES (\n  {{ $json.message.from.id }}::BIGINT,\n  'waiting_search_query',\n  NULL,\n  NOW()\n)\nON CONFLICT (user_id)\nDO UPDATE SET\n  state = 'waiting_search_query',\n  search_query = NULL,\n  updated_at = NOW()\nRETURNING\n  user_id,\n  state,\n  {{ $json.message.chat.id }}::BIGINT AS chat_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        1056
      ],
      "id": "52937592-37a9-46b0-a171-73a33f881c3b",
      "name": "Set state waiting_search_query",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn [\n  {\n    json: {\n      user_id: input.user_id,\n      chat_id: input.chat_id,\n      text:\n`🔎 What do you want to find?\n\nSend a text query or a voice message.\n\nExamples:\n• resume\n• NAYA salary\n• bank document\n• photo from conference\n• n8n docker`,\n      inline_keyboard: [\n        [\n          {\n            text: '❌ Cancel search',\n            callback_data: 'action:cancel_search'\n          }\n        ]\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        992
      ],
      "id": "21d94cfd-bbac-46b6-a541-8a2d5a1de5c4",
      "name": "Build ask search query message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "={\n  \"inline_keyboard\": {{ JSON.stringify($json.inline_keyboard) }}\n}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        992
      ],
      "id": "ac9cd784-0039-4ce6-a55a-2d35f4464897",
      "name": "Ask search query",
      "webhookId": "dd7ff328-f080-4568-b29d-156565a490f5",
      "credentials": {
        "telegramApi": {
          "id": "L6tMdX179iCyx0Bk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stateInput = $input.first().json || {};\n\n// Берем оригинальный Telegram update из Telegram Trigger,\n// потому что после switch state в input может остаться только state.\nlet update = {};\n\ntry {\n  update = $('Telegram Trigger').first().json || {};\n} catch (e) {\n  update = {};\n}\n\n// Fallback: если текущий input уже содержит message\nif (!update.message && !update.edited_message && !update.callback_query) {\n  update = stateInput;\n}\n\nconst message =\n  update.message ||\n  update.edited_message ||\n  stateInput.message ||\n  stateInput.edited_message ||\n  {};\n\nconst from = message.from || {};\nconst chat = message.chat || {};\n\nconst userId =\n  stateInput.user_id ||\n  update.user_id ||\n  from.id ||\n  null;\n\nconst chatId =\n  stateInput.chat_id ||\n  update.chat_id ||\n  chat.id ||\n  userId ||\n  null;\n\nif (!userId || !chatId) {\n  throw new Error(\n    `Cannot detect user_id or chat_id in Prepare search query payload. ` +\n    `Input keys: ${Object.keys(stateInput).join(', ')}. ` +\n    `Update keys: ${Object.keys(update).join(', ')}`\n  );\n}\n\nlet messageType = 'text';\nlet searchQuery = '';\n\nlet fileId = null;\nlet fileUniqueId = null;\nlet fileName = null;\nlet mimeType = null;\nlet fileSize = null;\n\nconst text = String(message.text || '').trim();\n\nif (text) {\n  messageType = 'text';\n\n  searchQuery = text\n    .replace(/^\\/search\\s*/i, '')\n    .trim();\n}\n\nelse if (message.voice) {\n  messageType = 'voice';\n\n  fileId = message.voice.file_id || null;\n  fileUniqueId = message.voice.file_unique_id || null;\n  fileName = null;\n  mimeType = message.voice.mime_type || 'audio/ogg';\n  fileSize = message.voice.file_size || null;\n}\n\nelse if (message.audio) {\n  messageType = 'audio';\n\n  fileId = message.audio.file_id || null;\n  fileUniqueId = message.audio.file_unique_id || null;\n  fileName = message.audio.file_name || message.audio.title || null;\n  mimeType = message.audio.mime_type || 'audio/mpeg';\n  fileSize = message.audio.file_size || null;\n}\n\nelse {\n  messageType = 'unsupported';\n}\n\nconst isTextSearch =\n  messageType === 'text' &&\n  searchQuery.length > 0;\n\nconst isAudioSearch =\n  ['voice', 'audio'].includes(messageType) &&\n  !!fileId;\n\nconst maxSearchAudioBytes = 1024 * 1024; // 1 MB\n\nconst audioTooLarge =\n  isAudioSearch &&\n  Number(fileSize || 0) > maxSearchAudioBytes;\n\nfunction formatBytes(bytes) {\n  const n = Number(bytes || 0);\n\n  if (!n || Number.isNaN(n)) {\n    return 'unknown size';\n  }\n\n  if (n < 1024) {\n    return `${n} B`;\n  }\n\n  if (n < 1024 * 1024) {\n    return `${(n / 1024).toFixed(1)} KB`;\n  }\n\n  return `${(n / 1024 / 1024).toFixed(1)} MB`;\n}\n\nlet searchError = null;\n\nif (!isTextSearch && !isAudioSearch) {\n  searchError =\n    'Please send a text search query or a short voice message.';\n}\n\nif (audioTooLarge) {\n  searchError =\n    `Search voice message is too large ⚠️\\n\\n` +\n    `Please send audio up to 1 MB.\\n\\n` +\n    `Your audio size: ${formatBytes(fileSize)}.`;\n}\n\nreturn [\n  {\n    json: {\n      ...stateInput,\n\n      user_id: userId,\n      chat_id: chatId,\n\n      state: stateInput.state || null,\n      effective_state: stateInput.effective_state || stateInput.state || null,\n\n      message_type: messageType,\n\n      search_query: searchQuery,\n      search_query_ready: isTextSearch,\n\n      needs_search_audio_transcription:\n        isAudioSearch && !audioTooLarge,\n\n      search_error: searchError,\n\n      file_id: fileId,\n      file_unique_id: fileUniqueId,\n      file_name: fileName,\n      mime_type: mimeType,\n      file_size: fileSize,\n      file_size_human: formatBytes(fileSize),\n\n      max_search_audio_bytes: maxSearchAudioBytes\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1456
      ],
      "id": "1080df90-9ebd-4aa4-9b16-eef5d52c52ae",
      "name": "Prepare search query payload"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (!input.callback_query) {\n  throw new Error('This node expects callback_query');\n}\n\nreturn [\n  {\n    json: {\n      user_id: input.callback_query.from.id,\n      chat_id: input.callback_query.message.chat.id,\n      callback_query_id: input.callback_query.id,\n      telegram_message_id: input.callback_query.message.message_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        128
      ],
      "id": "a84a8da4-de37-4be2-9401-1df883e42192",
      "name": "parse save pending"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH moved AS (\n  DELETE FROM gnote.pending_messages\n  WHERE user_id = {{ $json.user_id }}\n  RETURNING\n    id AS pending_id,\n    message_uuid,\n    user_id,\n    message,\n    created_at,\n    message_type,\n    file_id,\n    file_unique_id,\n    file_name,\n    mime_type,\n    caption,\n    telegram_file_path,\n    file_url,\n    latitude,\n    longitude,\n    location_title,\n    location_address,\n    maps_url\n),\n\ninserted AS (\n  INSERT INTO gnote.messages (\n    user_id,\n    topic_id,\n    message_uuid,\n    content,\n    created_at,\n    message_type,\n    file_id,\n    file_unique_id,\n    file_name,\n    mime_type,\n    caption,\n    telegram_file_path,\n    file_url,\n    latitude,\n    longitude,\n    location_title,\n    location_address,\n    maps_url\n  )\n  SELECT\n    moved.user_id,\n    NULL,\n    moved.message_uuid,\n    moved.message,\n    moved.created_at,\n    COALESCE(moved.message_type, 'text'),\n    moved.file_id,\n    moved.file_unique_id,\n    moved.file_name,\n    moved.mime_type,\n    moved.caption,\n    moved.telegram_file_path,\n    moved.file_url,\n    moved.latitude,\n    moved.longitude,\n    moved.location_title,\n    moved.location_address,\n    moved.maps_url\n  FROM moved\n  RETURNING id, user_id, message_uuid\n),\n\nattach_ai_metadata AS (\n  UPDATE gnote.message_ai_metadata meta\n  SET\n    message_id = inserted.id,\n    pending_message_id = NULL,\n    source_status = 'active',\n    analysis_status = COALESCE(NULLIF(meta.analysis_status, ''), 'done'),\n    updated_at = NOW()\n  FROM inserted\n  WHERE meta.user_id = inserted.user_id\n    AND (\n      meta.message_uuid = inserted.message_uuid\n      OR meta.message_id = inserted.id\n    )\n    AND COALESCE(meta.source_status, 'pending') <> 'deleted'\n  RETURNING meta.id\n),\n\nstats AS (\n  SELECT COUNT(*) AS saved_count\n  FROM inserted\n),\n\nreal_user_counter AS (\n  SELECT COUNT(*) AS user_all_messages\n  FROM gnote.messages\n  WHERE user_id = {{ $json.user_id }}\n    AND deleted_at IS NULL\n)\n\nSELECT\n  {{ $json.user_id }}::BIGINT AS user_id,\n  {{ $json.chat_id }}::BIGINT AS chat_id,\n  stats.saved_count,\n  COALESCE((SELECT user_all_messages FROM real_user_counter), 0) AS user_all_messages,\n  (SELECT COUNT(*) FROM attach_ai_metadata) AS attached_metadata_count\nFROM stats;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        128
      ],
      "id": "1b2f0606-bbef-4408-bdb9-5bd78c38318b",
      "name": "move pending to messages without topic",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ \n  $json.saved_count > 0\n    ? \"Saved ✅\\n\\nSaved messages: \" + $json.saved_count + \"\\nTotal messages: \" + $json.user_all_messages\n    : \"There are no messages to save ⚠️\"\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        144
      ],
      "id": "f840f252-3e3e-403f-9ade-3886b066bda5",
      "name": "send save result no topic",
      "webhookId": "75f98045-5539-439c-b1a0-819776d3b647",
      "credentials": {
        "telegramApi": {
          "id": "L6tMdX179iCyx0Bk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (!input.callback_query) {\n  throw new Error('This node expects callback_query');\n}\n\nreturn [\n  {\n    json: {\n      user_id: input.callback_query.from.id,\n      chat_id: input.callback_query.message.chat.id,\n      callback_query_id: input.callback_query.id,\n      telegram_message_id: input.callback_query.message.message_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        288
      ],
      "id": "cf9ca299-2d04-4445-8d28-12d25bd6e1dc",
      "name": "parse add keywords"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gnote.user_state (user_id, state, created_at)\nVALUES (\n  {{ $json.user_id }},\n  'waiting_for_extra_keywords',\n  NOW()\n)\nON CONFLICT (user_id)\nDO UPDATE SET\n  state = 'waiting_for_extra_keywords',\n  created_at = NOW();\n\nSELECT\n  {{ $json.user_id }}::BIGINT AS user_id,\n  {{ $json.chat_id }}::BIGINT AS chat_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        288
      ],
      "id": "ef1af17d-8430-4def-ac5b-71af987f2ff8",
      "name": "set state waiting extra keywords",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Send extra keywords separated by commas or spaces.  Example: invoice, taxes, Bituach Leumi, 2025",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        288
      ],
      "id": "885f2e0a-c676-427d-bd87-66448a70be56",
      "name": "ask extra keywords",
      "webhookId": "3010a040-45a9-46d9-83be-7d86a24bcabf",
      "credentials": {
        "telegramApi": {
          "id": "L6tMdX179iCyx0Bk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nfunction tryNodeJson(nodeName) {\n  try {\n    return $(nodeName).first().json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction firstValue(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && value !== '') {\n      return value;\n    }\n  }\n  return null;\n}\n\n// Try to recover the original Telegram payload/message payload\nconst messagePayload = tryNodeJson('prepare message payload');\nconst telegramTrigger = tryNodeJson('Telegram Trigger');\nconst parseIncoming = tryNodeJson('parse incoming update');\n\nconst userId = firstValue(\n  input.user_id,\n  messagePayload.user_id,\n  parseIncoming.user_id,\n  telegramTrigger.message?.from?.id,\n  telegramTrigger.callback_query?.from?.id,\n  input.message?.from?.id,\n  input.callback_query?.from?.id\n);\n\nconst chatId = firstValue(\n  input.chat_id,\n  messagePayload.chat_id,\n  parseIncoming.chat_id,\n  telegramTrigger.message?.chat?.id,\n  telegramTrigger.callback_query?.message?.chat?.id,\n  input.message?.chat?.id,\n  input.callback_query?.message?.chat?.id,\n  userId\n);\n\nconst rawText = String(\n  input.raw_text ||\n  input.text ||\n  input.content ||\n  input.message_text ||\n  input.message?.text ||\n  messagePayload.raw_text ||\n  messagePayload.text ||\n  messagePayload.content ||\n  messagePayload.message ||\n  telegramTrigger.message?.text ||\n  parseIncoming.raw_text ||\n  parseIncoming.text ||\n  ''\n).trim();\n\nconst cleanedText = rawText\n  .replace(/^\\/\\w+\\s*/i, '')\n  .trim();\n\nconst extraKeywords = cleanedText\n  .split(/[,\\n;]+|\\s+/)\n  .map(v => v.trim())\n  .filter(Boolean)\n  .filter(v => !['and', 'or', 'и', 'или'].includes(v.toLowerCase()))\n  .slice(0, 20);\n\nreturn [\n  {\n    json: {\n      ...input,\n      user_id: userId,\n      chat_id: chatId,\n      raw_extra_keywords_text: rawText,\n      extra_keywords: extraKeywords,\n      extra_keywords_text: extraKeywords.join(', ')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        1744
      ],
      "id": "3a90c0d8-a5ac-4b70-9d96-8017acb6929e",
      "name": "prepare extra keywords"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{ $json.user_id ? $json.user_id : 'NULL' }}::BIGINT AS user_id,\n    {{ $json.chat_id ? $json.chat_id : ($json.user_id ? $json.user_id : 'NULL') }}::BIGINT AS chat_id,\n    ARRAY[\n      {{\n        ($json.extra_keywords || [])\n          .filter(k => String(k).trim() !== '')\n          .map(k => \"'\" + String(k).replace(/'/g, \"''\") + \"'\")\n          .join(\",\") || \"NULL\"\n      }}\n    ]::TEXT[] AS extra_keywords\n),\n\npending AS MATERIALIZED (\n  SELECT *\n  FROM gnote.pending_messages\n  WHERE user_id = (SELECT user_id FROM input_data)\n  ORDER BY created_at DESC\n  LIMIT 1\n),\n\nmetadata_targets AS MATERIALIZED (\n  SELECT\n    meta.id AS metadata_id,\n    meta.user_id,\n    meta.pending_message_id,\n    meta.message_uuid\n  FROM gnote.message_ai_metadata meta\n  JOIN pending p\n    ON p.user_id = meta.user_id\n   AND (\n        meta.pending_message_id = p.id\n        OR meta.message_uuid = p.message_uuid\n   )\n  WHERE meta.user_id = (SELECT user_id FROM input_data)\n    AND meta.message_id IS NULL\n    AND COALESCE(meta.source_status, 'pending') <> 'deleted'\n),\n\nmoved AS (\n  DELETE FROM gnote.pending_messages pm\n  USING pending p\n  WHERE pm.id = p.id\n  RETURNING\n    pm.id AS pending_id,\n    pm.message_uuid,\n    pm.user_id,\n    pm.message,\n    pm.created_at,\n    pm.message_type,\n    pm.file_id,\n    pm.file_unique_id,\n    pm.file_name,\n    pm.mime_type,\n    pm.caption,\n    pm.telegram_file_path,\n    pm.file_url,\n    pm.latitude,\n    pm.longitude,\n    pm.location_title,\n    pm.location_address,\n    pm.maps_url\n),\n\ninserted AS (\n  INSERT INTO gnote.messages (\n    user_id,\n    topic_id,\n    message_uuid,\n    content,\n    created_at,\n    message_type,\n    file_id,\n    file_unique_id,\n    file_name,\n    mime_type,\n    caption,\n    telegram_file_path,\n    file_url,\n    latitude,\n    longitude,\n    location_title,\n    location_address,\n    maps_url\n  )\n  SELECT\n    moved.user_id,\n    NULL,\n    moved.message_uuid,\n    moved.message,\n    moved.created_at,\n    COALESCE(moved.message_type, 'text'),\n    moved.file_id,\n    moved.file_unique_id,\n    moved.file_name,\n    moved.mime_type,\n    moved.caption,\n    moved.telegram_file_path,\n    moved.file_url,\n    moved.latitude,\n    moved.longitude,\n    moved.location_title,\n    moved.location_address,\n    moved.maps_url\n  FROM moved\n  RETURNING id, user_id, message_uuid\n),\n\nattach_and_update_metadata AS (\n  UPDATE gnote.message_ai_metadata meta\n  SET\n    message_id = inserted.id,\n    pending_message_id = NULL,\n    source_status = 'active',\n    analysis_status = COALESCE(NULLIF(meta.analysis_status, ''), 'done'),\n\n    keywords = (\n      SELECT COALESCE(jsonb_agg(DISTINCT keyword), '[]'::jsonb)\n      FROM (\n        SELECT jsonb_array_elements_text(COALESCE(meta.keywords, '[]'::jsonb)) AS keyword\n        UNION\n        SELECT unnest((SELECT extra_keywords FROM input_data)) AS keyword\n      ) s\n      WHERE keyword IS NOT NULL\n        AND TRIM(keyword) <> ''\n    ),\n\n    ai_content = CONCAT_WS(\n      E'\\n',\n      meta.ai_content,\n      CASE\n        WHEN array_length((SELECT extra_keywords FROM input_data), 1) > 0\n        THEN 'User keywords: ' || array_to_string((SELECT extra_keywords FROM input_data), ', ')\n        ELSE NULL\n      END\n    ),\n\n    updated_at = NOW()\n\n  FROM inserted\n  JOIN metadata_targets mt\n    ON mt.user_id = inserted.user_id\n  WHERE meta.id = mt.metadata_id\n    AND meta.user_id = inserted.user_id\n    AND meta.message_id IS NULL\n    AND COALESCE(meta.source_status, 'pending') <> 'deleted'\n  RETURNING meta.id\n),\n\nclear_state AS (\n  DELETE FROM gnote.user_state\n  WHERE user_id = (SELECT user_id FROM input_data)\n),\n\nstats AS (\n  SELECT COUNT(*) AS saved_count\n  FROM inserted\n),\n\nreal_user_counter AS (\n  SELECT COUNT(*) AS user_all_messages\n  FROM gnote.messages\n  WHERE user_id = (SELECT user_id FROM input_data)\n    AND deleted_at IS NULL\n)\n\nSELECT\n  (SELECT user_id FROM input_data) AS user_id,\n  (SELECT chat_id FROM input_data) AS chat_id,\n  stats.saved_count,\n  array_to_string((SELECT extra_keywords FROM input_data), ', ') AS added_keywords,\n  COALESCE((SELECT user_all_messages FROM real_user_counter), 0) AS user_all_messages,\n  (SELECT COUNT(*) FROM metadata_targets) AS metadata_targets_count,\n  (SELECT COUNT(*) FROM attach_and_update_metadata) AS attached_metadata_count\nFROM stats;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        1744
      ],
      "id": "3ce055ab-9455-473a-aa02-cfb34cfa8ed8",
      "name": "append extra keywords and save",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{   $json.saved_count > 0    ? \"Saved ✅\\n\\nAdded keywords: \" + ($json.added_keywords || \"-\") + \"\\nTotal messages: \" + $json.user_all_messages    : \"There are no messages to save ⚠️\"}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        1744
      ],
      "id": "936a4522-501c-4cb9-8444-9e40ad19fc8f",
      "name": "send save with extra keywords result",
      "webhookId": "3c5dc3a6-3a0d-41cc-ac38-925bc37990e4",
      "credentials": {
        "telegramApi": {
          "id": "L6tMdX179iCyx0Bk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "29RmHLQgRiiy7qh4h1h3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/29RmHLQgRiiy7qh4h1h3A",
          "cachedResultName": "AI Analyze Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1648,
        1024
      ],
      "id": "828e34e3-b736-4b69-bd9e-3b19bf1b2a7d",
      "name": "AI Analyze message",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text:\n      $json.message_type === 'document' || $json.message_type === 'photo'\n        ? \"⏳ Analyzing your file...\\n\\nThis may take a little longer for PDFs, photos, or large documents.\"\n        : \"⏳ Analyzing your message...\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        1120
      ],
      "id": "fbad4c92-a2a2-4e6b-82ae-6faf9ccef704",
      "name": "send processing message"
    },
    {
      "parameters": {
        "jsCode": "const original = $('add user/message').first().json;\nconst telegramResponse = $input.first().json;\n\nconst processingMessageId =\n  telegramResponse.result?.message_id ||\n  telegramResponse.message_id ||\n  null;\n\nreturn [\n  {\n    json: {\n      ...original,\n      processing_message_id: processingMessageId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1120
      ],
      "id": "188fee18-7a66-47d4-86c6-95af04ffcb83",
      "name": "attach processing message id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/editMessageText' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    message_id: $json.processing_message_id,\n    text: $json.text,\n    reply_markup: {\n      inline_keyboard: $json.inline_keyboard\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2048,
        1056
      ],
      "id": "7eb2f629-a8a1-4809-9dfa-fbcc649efb16",
      "name": "edit processing message with keyboard"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{ $json.user_id }}::BIGINT AS user_id,\n    {{ $json.chat_id }}::BIGINT AS chat_id\n),\n\nsettings AS (\n  SELECT\n    enabled,\n    max_messages,\n    window_minutes\n  FROM gnote.message_rate_limit_settings\n  WHERE id = 1\n),\n\nsettings_fallback AS (\n  SELECT\n    COALESCE((SELECT enabled FROM settings), TRUE) AS enabled,\n    COALESCE((SELECT max_messages FROM settings), 10) AS max_messages,\n    COALESCE((SELECT window_minutes FROM settings), 60) AS window_minutes\n),\n\nuser_flags AS (\n  SELECT\n    COALESCE(u.unlimited, FALSE) AS unlimited\n  FROM input_data i\n  LEFT JOIN gnote.users u\n    ON u.id = i.user_id\n),\n\npending_usage AS (\n  SELECT\n    COUNT(*)::INT AS pending_count\n  FROM gnote.pending_messages p\n  CROSS JOIN settings_fallback s\n  WHERE p.user_id = (SELECT user_id FROM input_data)\n    AND p.created_at >= NOW() - make_interval(mins => s.window_minutes)\n),\n\nsaved_usage AS (\n  SELECT\n    COUNT(*)::INT AS saved_count\n  FROM gnote.messages m\n  CROSS JOIN settings_fallback s\n  WHERE m.user_id = (SELECT user_id FROM input_data)\n    AND m.created_at >= NOW() - make_interval(mins => s.window_minutes)\n    AND m.deleted_at IS NULL\n),\n\nusage_sum AS (\n  SELECT\n    (\n      COALESCE((SELECT pending_count FROM pending_usage), 0) +\n      COALESCE((SELECT saved_count FROM saved_usage), 0)\n    )::INT AS used_messages\n),\n\ndecision AS (\n  SELECT\n    i.user_id,\n    i.chat_id,\n\n    s.enabled,\n    s.max_messages,\n    s.window_minutes,\n\n    COALESCE(f.unlimited, FALSE) AS unlimited,\n\n    u.used_messages,\n\n    CASE\n      WHEN s.enabled = FALSE THEN TRUE\n      WHEN COALESCE(f.unlimited, FALSE) = TRUE THEN TRUE\n      WHEN u.used_messages < s.max_messages THEN TRUE\n      ELSE FALSE\n    END AS allowed,\n\n    GREATEST(s.max_messages - u.used_messages, 0) AS remaining_messages\n\n  FROM input_data i\n  CROSS JOIN settings_fallback s\n  CROSS JOIN usage_sum u\n  LEFT JOIN user_flags f ON TRUE\n)\n\nSELECT\n  user_id,\n  chat_id,\n\n  enabled,\n  unlimited,\n  allowed,\n\n  used_messages,\n  max_messages,\n  window_minutes,\n  remaining_messages,\n\n  CASE\n    WHEN allowed THEN NULL\n    ELSE\n      'Limit reached ⚠️' || E'\\n\\n' ||\n      'You can save up to ' || max_messages || ' messages per ' || window_minutes || ' minutes.' || E'\\n' ||\n      'Please try again later.'\n  END AS limit_message\n\nFROM decision;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        1136
      ],
      "id": "e352a915-9b38-43ec-ad8e-e708cc769ffc",
      "name": "check message rate limit",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rate = $input.first().json || {};\n\nlet original = {};\n\ntry {\n  original = $('prepare message payload').first().json || {};\n} catch (e) {\n  original = {};\n}\n\nreturn [\n  {\n    json: {\n      ...original,\n\n      rate_limit_allowed: Boolean(rate.allowed),\n      rate_limit_message: rate.limit_message || null,\n\n      rate_limit: {\n        enabled: rate.enabled,\n        unlimited: rate.unlimited,\n        allowed: rate.allowed,\n        used_messages: rate.used_messages,\n        max_messages: rate.max_messages,\n        window_minutes: rate.window_minutes,\n        remaining_messages: rate.remaining_messages\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        1136
      ],
      "id": "befd0090-aa11-445a-a81c-d0af3d7338ab",
      "name": "merge rate limit result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c279c5e-ecb6-4fa9-968b-749960e641ed",
              "leftValue": "={{ $json.rate_limit_allowed === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        1136
      ],
      "id": "927046c1-f640-44a7-a8b0-8a5dba1b690e",
      "name": "IF rate limit allowed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.rate_limit_message || 'Limit reached ⚠️\\n\\nPlease try again later.'\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        1296
      ],
      "id": "d707a54e-e050-4475-98e3-7f98e7943be1",
      "name": "send rate limit warning"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/deleteMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    message_id: $json.telegram_message_id\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        -368
      ],
      "id": "e6091c90-ad52-4f07-8d1d-96ed781afeaa",
      "name": "delete telegram result message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    callback_query_id: $('move message to deleted').first().json.callback_query_id,\n    text: $('move message to deleted').first().json.deleted_count > 0 ? 'Deleted ✅' : 'Already deleted',\n    show_alert: false\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -368
      ],
      "id": "8a2b7ae9-081f-4a5e-9aed-1348b975cff7",
      "name": "answer delete callback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84e81f39-5333-4d59-9f38-32eeebbf5cb6",
              "leftValue": "={{ !$json.error && !!$json.text && Array.isArray($json.inline_keyboard) && $json.inline_keyboard.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1808,
        1088
      ],
      "id": "1d89a2b8-877f-4058-be35-cc23be13b94e",
      "name": "IF AI Analyze succeeded"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/editMessageText' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $('attach processing message id').first().json.chat_id,\n    message_id: $('attach processing message id').first().json.processing_message_id,\n    text:\n`⚠️ I couldn't analyze this message right now.\n\nThe AI service may be overloaded. Please try sending it again in a few minutes.\n\nYour message was not saved.`\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        1216
      ],
      "id": "4aecf841-017b-4413-a3fd-4d64ba046efd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{\n      $json.message?.from?.id\n      || $json.callback_query?.from?.id\n      || $('Telegram Trigger').first().json.message?.from?.id\n      || $('Telegram Trigger').first().json.callback_query?.from?.id\n    }}::BIGINT AS user_id,\n\n    {{\n      $json.message?.chat?.id\n      || $json.callback_query?.message?.chat?.id\n      || $('Telegram Trigger').first().json.message?.chat?.id\n      || $('Telegram Trigger').first().json.callback_query?.message?.chat?.id\n    }}::BIGINT AS chat_id\n),\n\nmetadata_with_message AS (\n  SELECT\n    meta.id AS metadata_id,\n    meta.user_id,\n    meta.message_id,\n    meta.pending_message_id,\n    meta.message_uuid,\n    meta.source_status,\n    meta.keywords,\n\n    m.id AS real_message_id,\n    m.deleted_at AS message_deleted_at\n\n  FROM gnote.message_ai_metadata meta\n\n  LEFT JOIN gnote.messages m\n    ON m.user_id = meta.user_id\n   AND (\n        m.id = meta.message_id\n        OR m.message_uuid = meta.message_uuid\n   )\n\n  WHERE meta.user_id = (SELECT user_id FROM input_data)\n    AND COALESCE(meta.source_status, '') <> 'deleted'\n    AND meta.keywords IS NOT NULL\n    AND jsonb_typeof(meta.keywords) = 'array'\n    AND jsonb_array_length(meta.keywords) > 0\n),\n\nvalid_metadata AS (\n  SELECT *\n  FROM metadata_with_message\n  WHERE\n    -- Case 1: metadata is attached to an existing non-deleted message\n    (\n      real_message_id IS NOT NULL\n      AND message_deleted_at IS NULL\n    )\n\n    OR\n\n    -- Case 2: metadata still has no message_id, but is not deleted.\n    -- This keeps keywords visible even if attach step did not update message_id correctly.\n    (\n      real_message_id IS NULL\n      AND COALESCE(source_status, 'pending') IN ('pending', 'attached', 'active')\n    )\n),\n\nkeywords_raw AS (\n  SELECT\n    TRIM(k.keyword) AS keyword\n  FROM valid_metadata vm\n  CROSS JOIN LATERAL jsonb_array_elements_text(\n    COALESCE(vm.keywords, '[]'::jsonb)\n  ) AS k(keyword)\n  WHERE k.keyword IS NOT NULL\n    AND TRIM(k.keyword) <> ''\n),\n\nnormalized AS (\n  SELECT\n    LOWER(keyword) AS keyword_order_key,\n    MIN(keyword) AS display_keyword,\n    COUNT(*)::INTEGER AS usage_count\n  FROM keywords_raw\n  GROUP BY LOWER(keyword)\n)\n\nSELECT\n  (SELECT user_id FROM input_data) AS user_id,\n  (SELECT chat_id FROM input_data) AS chat_id,\n  display_keyword AS keyword,\n  usage_count\nFROM normalized\nORDER BY usage_count DESC, LOWER(display_keyword) ASC\nLIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        848
      ],
      "id": "48b82545-6824-4ae9-84d8-bc2907e49ba5",
      "name": "get user keywords",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Try to read Telegram Trigger safely\nlet trigger = {};\ntry {\n  trigger = $('Telegram Trigger').first().json || {};\n} catch (e) {\n  trigger = {};\n}\n\nlet firstInput = {};\ntry {\n  firstInput = items[0]?.json || {};\n} catch (e) {\n  firstInput = {};\n}\n\nfunction firstValue(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && value !== '') {\n      return value;\n    }\n  }\n  return null;\n}\n\nconst userId = firstValue(\n  firstInput.user_id,\n  trigger.message?.from?.id,\n  trigger.callback_query?.from?.id,\n  trigger.callback_query?.message?.chat?.id,\n  trigger.message?.chat?.id\n);\n\nconst chatId = firstValue(\n  firstInput.chat_id,\n  trigger.message?.chat?.id,\n  trigger.callback_query?.message?.chat?.id,\n  trigger.callback_query?.from?.id,\n  trigger.message?.from?.id,\n  userId\n);\n\nif (!chatId) {\n  throw new Error('Cannot detect chat_id for keywords list');\n}\n\n// Remove fake PostgreSQL empty output item: { success: true }\nconst keywordRows = items\n  .map(item => item.json || {})\n  .filter(row => {\n    return (\n      row.keyword !== undefined &&\n      row.keyword !== null &&\n      String(row.keyword).trim() !== ''\n    );\n  });\n\nif (keywordRows.length === 0) {\n  return [\n    {\n      json: {\n        user_id: userId,\n        chat_id: chatId,\n        text:\n`🔑 Keywords\n\nNo keywords found yet.\n\nSave a few messages first, or wait until AI analysis finishes.`\n      }\n    }\n  ];\n}\n\nconst sorted = keywordRows\n  .map(row => ({\n    keyword: String(row.keyword || '').trim(),\n    usage_count: Number(row.usage_count || 0)\n  }))\n  .filter(row => row.keyword)\n  .sort((a, b) => {\n    if (b.usage_count !== a.usage_count) {\n      return b.usage_count - a.usage_count;\n    }\n\n    return a.keyword.localeCompare(b.keyword);\n  });\n\nconst keywordText = sorted\n  .map(row => {\n    return row.usage_count > 1\n      ? `${row.keyword}(${row.usage_count})`\n      : row.keyword;\n  })\n  .join(', ');\n\nconst header = `🔑 Keywords (${sorted.length})`;\n\nlet text = `${header}\\n\\n${keywordText}`;\n\nconst maxLength = 3800;\n\nif (text.length <= maxLength) {\n  return [\n    {\n      json: {\n        user_id: userId,\n        chat_id: chatId,\n        text\n      }\n    }\n  ];\n}\n\n// Split long keyword string into Telegram-safe chunks\nconst chunks = [];\nlet remaining = keywordText;\n\nwhile (remaining.length > 0) {\n  let cutAt = Math.min(maxLength - header.length - 60, remaining.length);\n\n  if (remaining.length > cutAt) {\n    const lastComma = remaining.lastIndexOf(', ', cutAt);\n    if (lastComma > 0) {\n      cutAt = lastComma;\n    }\n  }\n\n  const chunk = remaining.slice(0, cutAt).trim().replace(/,\\s*$/, '');\n  chunks.push(chunk);\n\n  remaining = remaining.slice(cutAt).replace(/^,\\s*/, '').trim();\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    user_id: userId,\n    chat_id: chatId,\n    text: chunks.length > 1\n      ? `${header}\\n\\nPart ${index + 1}/${chunks.length}\\n\\n${chunk}`\n      : `${header}\\n\\n${chunk}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        848
      ],
      "id": "29b319b0-5ad7-4c29-8a03-4b90b31ec941",
      "name": "format keywords list"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.text\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        848
      ],
      "id": "40ea5a12-07f4-488c-86e5-41b7a285bafd",
      "name": "send keywords list"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst callback = input.callback_query;\n\nif (!callback) {\n  throw new Error('This node expects callback_query');\n}\n\nconst data = String(callback.data || '');\nconst match = data.match(/^summary_msg:(\\d+)$/);\n\nif (!match) {\n  throw new Error(`Unsupported summary callback: ${data}`);\n}\n\nreturn [\n  {\n    json: {\n      user_id: callback.from.id,\n      chat_id: callback.message.chat.id,\n      callback_query_id: callback.id,\n      telegram_message_id: callback.message.message_id,\n      message_id: Number(match[1])\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        464
      ],
      "id": "8f533865-2f23-4a6d-91a8-9b7ccd4f05f7",
      "name": "parse summary message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{ $json.user_id }}::BIGINT AS user_id,\n    {{ $json.chat_id }}::BIGINT AS chat_id,\n    {{ $json.message_id }}::BIGINT AS message_id,\n    {{ $json.telegram_message_id }}::BIGINT AS telegram_message_id,\n    '{{ String($json.callback_query_id || \"\").replace(/'/g, \"''\") }}'::TEXT AS callback_query_id\n),\n\nmessage_data AS (\n  SELECT\n    m.id AS message_id,\n    m.user_id,\n    m.message_uuid,\n    m.message_type,\n    m.file_name,\n    m.caption,\n    m.content,\n    m.created_at\n  FROM gnote.messages m\n  WHERE m.id = (SELECT message_id FROM input_data)\n    AND m.user_id = (SELECT user_id FROM input_data)\n    AND m.deleted_at IS NULL\n  LIMIT 1\n),\n\nmetadata_candidates AS (\n  SELECT\n    meta.*,\n    CASE\n      WHEN meta.message_id = m.message_id THEN 1\n      WHEN meta.message_uuid = m.message_uuid THEN 2\n      ELSE 9\n    END AS match_rank\n  FROM message_data m\n  JOIN gnote.message_ai_metadata meta\n    ON meta.user_id = m.user_id\n   AND COALESCE(meta.source_status, '') <> 'deleted'\n   AND (\n        meta.message_id = m.message_id\n        OR meta.message_uuid = m.message_uuid\n   )\n),\n\nbest_metadata AS (\n  SELECT *\n  FROM metadata_candidates\n  ORDER BY\n    match_rank ASC,\n    updated_at DESC NULLS LAST,\n    id DESC\n  LIMIT 1\n)\n\nSELECT\n  i.user_id,\n  i.chat_id,\n  i.message_id,\n  i.telegram_message_id,\n  i.callback_query_id,\n\n  m.message_type,\n  m.file_name,\n  m.caption,\n  m.content,\n  m.created_at,\n\n  b.summary AS ai_summary,\n  b.category AS ai_category,\n  b.language AS ai_language,\n  b.keywords AS ai_keywords,\n  b.ai_content AS ai_content,\n\n  CASE\n    WHEN m.message_id IS NULL THEN FALSE\n    ELSE TRUE\n  END AS found,\n\n  CASE\n    WHEN b.id IS NULL THEN FALSE\n    ELSE TRUE\n  END AS ai_found,\n\n  b.id AS ai_metadata_id,\n  b.message_id AS ai_metadata_message_id,\n  b.message_uuid AS ai_metadata_message_uuid,\n  b.source_status AS ai_source_status\n\nFROM input_data i\nLEFT JOIN message_data m ON TRUE\nLEFT JOIN best_metadata b ON TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        464
      ],
      "id": "e85af1a6-c6eb-4b25-a240-612b885b1e7b",
      "name": "get message summary",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nfunction clean(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction short(value, max = 2500) {\n  const text = clean(value);\n  if (!text) return '';\n  return text.length > max ? text.slice(0, max - 3) + '...' : text;\n}\n\nfunction toArray(value) {\n  if (Array.isArray(value)) return value;\n\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      if (Array.isArray(parsed)) return parsed;\n    } catch (e) {}\n\n    return value\n      .split(',')\n      .map(v => v.trim())\n      .filter(Boolean);\n  }\n\n  return [];\n}\n\nif (!input.found) {\n  return [\n    {\n      json: {\n        chat_id: input.chat_id,\n        callback_query_id: input.callback_query_id,\n        text: 'Summary not found ⚠️'\n      }\n    }\n  ];\n}\n\nconst title =\n  input.file_name ||\n  input.caption ||\n  input.content ||\n  'Message';\n\nconst summary =\n  input.ai_summary ||\n  input.ai_content ||\n  '';\n\nconst keywords = toArray(input.ai_keywords)\n  .filter(Boolean)\n  .slice(0, 20)\n  .join(', ');\n\nlet text = `🧠 Summary\n\n${short(title, 180)}`;\n\nif (summary) {\n  text += `\\n\\n${short(summary, 2200)}`;\n} else {\n  text += `\\n\\nNo AI summary found for this message.`;\n}\n\nif (input.ai_category || input.ai_language) {\n  text += `\\n\\nCategory: ${input.ai_category || 'unknown'}`;\n  text += `\\nLanguage: ${input.ai_language || 'unknown'}`;\n}\n\nif (keywords) {\n  text += `\\n\\nKeywords:\\n${keywords}`;\n}\n\nreturn [\n  {\n    json: {\n      chat_id: input.chat_id,\n      callback_query_id: input.callback_query_id,\n      text\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        464
      ],
      "id": "8dc68430-1873-49ca-8a33-538ea7f7912c",
      "name": "format message summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.text\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        464
      ],
      "id": "8732fe96-6212-456b-8099-6a1f8ff49326",
      "name": "send message summary"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nconst maxBytes = 1024 * 1024; // 1 MB\n\nconst messageType = String(input.message_type || '').toLowerCase();\nconst fileSize = Number(input.file_size || 0);\n\nconst limitedTypes = [\n  'document',\n  'file',\n  'video',\n  'video_note'\n];\n\nconst hasKnownSize = fileSize > 0;\nconst isLimitedType = limitedTypes.includes(messageType);\n\nconst isTooLarge =\n  isLimitedType &&\n  hasKnownSize &&\n  fileSize > maxBytes;\n\nfunction formatBytes(bytes) {\n  const n = Number(bytes || 0);\n\n  if (!n || Number.isNaN(n)) {\n    return 'unknown size';\n  }\n\n  if (n < 1024) {\n    return `${n} B`;\n  }\n\n  if (n < 1024 * 1024) {\n    return `${(n / 1024).toFixed(1)} KB`;\n  }\n\n  return `${(n / 1024 / 1024).toFixed(1)} MB`;\n}\n\nfunction getHumanType(type) {\n  if (type === 'document' || type === 'file') return 'file';\n  if (type === 'video' || type === 'video_note') return 'video';\n  return type || 'file';\n}\n\nlet unsupportedReason = null;\n\nif (isTooLarge) {\n  unsupportedReason =\n    `Unsupported file size ⚠️\\n\\n` +\n    `This bot currently supports videos and files up to 1 MB.\\n\\n` +\n    `Your ${getHumanType(messageType)} size: ${formatBytes(fileSize)}.\\n\\n` +\n    `Please send a smaller file, a photo, a voice note, or a text message instead.`;\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n\n      max_supported_file_size_bytes: maxBytes,\n      max_supported_file_size_human: formatBytes(maxBytes),\n\n      file_size_supported: !isTooLarge,\n      unsupported_large_file: isTooLarge,\n      unsupported_reason: unsupportedReason,\n\n      file_size_human: formatBytes(fileSize)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        1184
      ],
      "id": "58efb5ef-a0f5-4359-955f-e12e5a5be0b4",
      "name": "check file size support"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73597b66-d0c0-4d2d-a9ca-a264e7cbc522",
              "leftValue": "={{ $json.file_size_supported === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        1184
      ],
      "id": "629a83c7-14ba-45f0-9efe-0514340504f0",
      "name": "IF file size supported"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.unsupported_reason || 'Unsupported file size ⚠️'\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        1280
      ],
      "id": "1cdb3c63-b144-4e55-8025-e87c2489d23e",
      "name": "send unsupported file size warning"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ef9a4af-1967-43c7-b98b-c36baab83425",
              "leftValue": "={{ $json.search_query_ready === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        1456
      ],
      "id": "70169f8c-cff6-43c7-a4e5-4e3aae9b68dc",
      "name": "IF search query is ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13decaa2-fb0f-4288-8c0e-dbab2500ff27",
              "leftValue": "={{ $json.needs_search_audio_transcription === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        1536
      ],
      "id": "60c40907-6543-420b-a1c0-a8e223b2fdcc",
      "name": "IF needs search audio transcription"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.search_error || 'Please send a text search query or a short voice message.'\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        1648
      ],
      "id": "cdb8d4a4-9af3-41a5-83ff-807854870e7d",
      "name": "Send search query error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/getFile' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    file_id: $json.file_id\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        1728
      ],
      "id": "e24527db-866e-4ed4-a24f-ee7d0171329e",
      "name": "Telegram getFile search audio"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        1728
      ],
      "id": "655cea9d-6a2c-429e-a496-41f10dcf2826",
      "name": "Download search audio"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Prepare search query payload').first().json || {};\nconst getFile = $('Telegram getFile search audio').first().json || {};\n\nconst item = $input.first();\nconst binaryMeta = item.binary?.data;\n\nif (!binaryMeta) {\n  return [\n    {\n      json: {\n        ...original,\n        search_audio_transcription_status: 'failed',\n        search_audio_error: 'No binary audio data found',\n        search_query: '',\n        search_query_ready: false\n      }\n    }\n  ];\n}\n\nlet audioBase64;\n\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  audioBase64 = buffer.toString('base64');\n} catch (error) {\n  return [\n    {\n      json: {\n        ...original,\n        search_audio_transcription_status: 'failed',\n        search_audio_error: error.message,\n        search_query: '',\n        search_query_ready: false\n      }\n    }\n  ];\n}\n\nconst messageType = String(original.message_type || 'voice').toLowerCase();\n\nfunction detectMimeType(original, binaryMeta, getFile) {\n  const originalMime = original.mime_type || '';\n  const binaryMime = binaryMeta?.mimeType || '';\n\n  if (originalMime && originalMime !== 'application/octet-stream') {\n    return originalMime;\n  }\n\n  if (binaryMime && binaryMime !== 'application/octet-stream') {\n    return binaryMime;\n  }\n\n  const filePath = String(getFile?.result?.file_path || '').toLowerCase();\n\n  if (filePath.endsWith('.ogg')) return 'audio/ogg';\n  if (filePath.endsWith('.oga')) return 'audio/ogg';\n  if (filePath.endsWith('.mp3')) return 'audio/mpeg';\n  if (filePath.endsWith('.m4a')) return 'audio/x-m4a';\n  if (filePath.endsWith('.wav')) return 'audio/wav';\n  if (filePath.endsWith('.webm')) return 'audio/webm';\n  if (filePath.endsWith('.mp4')) return 'audio/mp4';\n\n  if (messageType === 'voice') return 'audio/ogg';\n  if (messageType === 'audio') return 'audio/mpeg';\n\n  return 'audio/ogg';\n}\n\nconst mimeType = detectMimeType(original, binaryMeta, getFile);\n\nconst supportedMimeTypes = [\n  'audio/ogg',\n  'audio/mpeg',\n  'audio/mp3',\n  'audio/wav',\n  'audio/webm',\n  'audio/mp4',\n  'audio/aac',\n  'audio/flac',\n  'audio/x-wav',\n  'audio/x-m4a',\n  'application/ogg'\n];\n\nif (!supportedMimeTypes.includes(mimeType)) {\n  return [\n    {\n      json: {\n        ...original,\n        mime_type: mimeType,\n        search_audio_transcription_status: 'unsupported',\n        search_audio_error: `Unsupported audio MIME type: ${mimeType}`,\n        search_query: '',\n        search_query_ready: false\n      }\n    }\n  ];\n}\n\nconst prompt = `\nYou are converting a Telegram voice/audio message into a short search query for a personal memory bot.\n\nTask:\n1. Transcribe the user's spoken request.\n2. Extract only the useful search keywords.\n3. Return a short search query, not a sentence.\n4. Keep names, brands, places, document types, dates, numbers, and important nouns.\n5. Remove filler words like \"please find\", \"search for\", \"show me\", \"I need\".\n6. If the user speaks Russian, Hebrew, English, Arabic, or mixed language, keep the useful words in the original language when important.\n7. If there is no clear searchable content, return an empty search_query.\n\nReturn only valid JSON.\nDo not use markdown.\nDo not wrap in code fences.\n\nReturn exactly this JSON:\n\n{\n  \"transcript\": \"full short transcript or null\",\n  \"search_query\": \"clean search keywords only\",\n  \"language\": \"ru | en | he | ar | mixed | unknown\",\n  \"confidence\": 0.85\n}\n`.trim();\n\nconst requestBody = {\n  contents: [\n    {\n      parts: [\n        {\n          text: prompt\n        },\n        {\n          inline_data: {\n            mime_type: mimeType,\n            data: audioBase64\n          }\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    temperature: 0.1,\n    responseMimeType: 'application/json'\n  }\n};\n\nreturn [\n  {\n    json: {\n      ...original,\n      mime_type: mimeType,\n      telegram_file_path: getFile?.result?.file_path || null,\n      gemini_request_body: requestBody,\n      search_audio_transcription_status: 'prepared'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        1728
      ],
      "id": "c869a3c9-3e5a-4fa0-944b-d1429f948a02",
      "name": "Prepare Gemini search audio request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_request_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        1728
      ],
      "id": "c6bf4628-f908-4220-a0ef-7feb95b4320a",
      "name": "Gemini transcribe search query",
      "credentials": {
        "googlePalmApi": {
          "id": "9bevO9NORDAKzO7X",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Prepare Gemini search audio request').first().json || {};\nconst input = $input.first().json || {};\n\nfunction safeJsonParse(text) {\n  if (!text) return null;\n\n  let cleaned = String(text).trim();\n\n  cleaned = cleaned\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        return JSON.parse(match[0]);\n      } catch (e2) {}\n    }\n  }\n\n  return null;\n}\n\nconst text =\n  input.candidates?.[0]?.content?.parts\n    ?.map(part => part.text || '')\n    .join('\\n')\n    .trim() || '';\n\nconst parsed = safeJsonParse(text);\n\nconst transcript = String(parsed?.transcript || '').trim();\nlet searchQuery = String(parsed?.search_query || '').trim();\n\nsearchQuery = searchQuery\n  .replace(/^[\"']|[\"']$/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst confidence = Number(parsed?.confidence || 0);\n\nconst isReady =\n  searchQuery.length >= 2 &&\n  confidence >= 0.2;\n\nreturn [\n  {\n    json: {\n      ...original,\n\n      search_query: searchQuery,\n      search_query_ready: isReady,\n\n      search_audio_transcription_status: isReady ? 'success' : 'empty',\n      search_audio_transcript: transcript,\n      search_audio_language: parsed?.language || 'unknown',\n      search_audio_confidence: confidence,\n\n      search_audio_raw_response: text,\n\n      search_error: isReady\n        ? null\n        : 'I could not understand the voice search query. Please type the search words or send a clearer voice message.'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        1728
      ],
      "id": "9b979429-9fd4-43cd-82fe-c62c810b2001",
      "name": "Parse search audio query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5ecaec1-cf77-4c5d-afd3-a1bf994e23c1",
              "leftValue": "={{ $json.search_query_ready === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        1728
      ],
      "id": "adca6a38-3e1b-47e6-9796-62b4c4ebe4ab",
      "name": "IF search audio query found"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.search_error || 'I could not understand the voice search query. Please type the search words.'\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        1744
      ],
      "id": "368e609d-eba5-49c7-9a71-6cc4aa9ad779",
      "name": "Send search audio failed"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nif (!input.chat_id) {\n  throw new Error('Cannot detect chat_id in Build search audio analyzing notice');\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      text:\n`🎙 Analyzing your voice search...\n\nPlease wait a moment. I will turn your voice message into search keywords.`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        1520
      ],
      "id": "897aaec8-c2f9-418f-ae04-4cd41480301b",
      "name": "Build search audio analyzing notice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.text\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        1520
      ],
      "id": "b709c99b-9d77-46c7-9f66-3cf303638e8b",
      "name": "Send search audio analyzing notice"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Build search audio analyzing notice').first().json || {};\nconst sent = $input.first().json || {};\n\nconst processingMessageId =\n  sent.result?.message_id ||\n  sent.message_id ||\n  null;\n\nreturn [\n  {\n    json: {\n      ...original,\n      search_processing_message_id: processingMessageId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1520
      ],
      "id": "d1a9ed09-150f-4e83-8e9a-190e8b004bfc",
      "name": "Restore payload after audio notice"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\n\nconst searchQuery = String(input.search_query || '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!input.chat_id) {\n  throw new Error('Cannot detect chat_id in Build search keywords notice');\n}\n\nif (!searchQuery) {\n  return [\n    {\n      json: {\n        ...input,\n        search_query_ready: false,\n        search_error: 'Search query is empty.',\n        text: 'Search query is empty ⚠️'\n      }\n    }\n  ];\n}\n\nconst terms = searchQuery\n  .split(/[\\s,;]+/)\n  .map(v => v.trim())\n  .filter(v => v.length >= 2);\n\nconst displayTerms =\n  terms.length > 0\n    ? terms.join(', ')\n    : searchQuery;\n\nconst sourceLine =\n  input.message_type === 'voice' || input.message_type === 'audio'\n    ? '\\n\\nVoice search was converted to keywords.'\n    : '';\n\nlet text =\n`🔎 Searching by keywords:\n\n${displayTerms}${sourceLine}`;\n\nif (input.search_audio_transcript) {\n  const transcript = String(input.search_audio_transcript || '').trim();\n\n  if (transcript && transcript.toLowerCase() !== searchQuery.toLowerCase()) {\n    text += `\\n\\nTranscript:\\n${transcript}`;\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      search_query: searchQuery,\n      search_terms: terms,\n      search_terms_display: displayTerms,\n      text\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1504
      ],
      "id": "a189bfab-f2a0-4f84-b89e-a19a89ed1729",
      "name": "Build search keywords notice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.text\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        1504
      ],
      "id": "046fda22-94c3-4e63-8a60-53c749e176ea",
      "name": "Send search keywords notice"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Build search keywords notice').first().json || {};\nconst sent = $input.first().json || {};\n\nconst keywordsNoticeMessageId =\n  sent.result?.message_id ||\n  sent.message_id ||\n  null;\n\nreturn [\n  {\n    json: {\n      ...original,\n      search_keywords_notice_message_id: keywordsNoticeMessageId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1504
      ],
      "id": "bb7ab874-c099-4e46-8a9c-204d36e4afdd",
      "name": "Restore payload after keywords notice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    callback_query_id: $json.callback_query.id,\n    text: 'Search mode is ready',\n    show_alert: false\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        912
      ],
      "id": "3d854237-9e9a-4c3a-92c5-afbb6c8989c7",
      "name": "answer search again callback"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{ $('Telegram Trigger').first().json.callback_query?.from?.id || $json.callback_query?.from?.id }}::BIGINT AS user_id,\n    {{ $('Telegram Trigger').first().json.callback_query?.message?.chat?.id || $json.callback_query?.message?.chat?.id || $('Telegram Trigger').first().json.callback_query?.from?.id || $json.callback_query?.from?.id }}::BIGINT AS chat_id\n),\n\nupsert_state AS (\n  INSERT INTO gnote.user_state (\n    user_id,\n    state,\n    search_query,\n    updated_at\n  )\n  SELECT\n    user_id,\n    'waiting_search_query',\n    NULL,\n    NOW()\n  FROM input_data\n  ON CONFLICT (user_id)\n  DO UPDATE SET\n    state = 'waiting_search_query',\n    search_query = NULL,\n    updated_at = NOW()\n  RETURNING user_id, state\n)\n\nSELECT\n  input_data.user_id,\n  input_data.chat_id,\n  upsert_state.state\nFROM input_data\nJOIN upsert_state ON upsert_state.user_id = input_data.user_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        912
      ],
      "id": "448f9094-6dfe-4014-a0b6-82b1ef021097",
      "name": "Set search state from callback",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    {{\n      (\n        $('Prepare search query payload').first().json.user_id\n        || $('Parse search audio query').first().json.user_id\n        || $('Telegram Trigger').first().json.message?.from?.id\n        || $('Telegram Trigger').first().json.callback_query?.from?.id\n      )\n    }}::BIGINT AS user_id,\n\n    {{\n      (\n        $('Prepare search query payload').first().json.chat_id\n        || $('Parse search audio query').first().json.chat_id\n        || $('Telegram Trigger').first().json.message?.chat?.id\n        || $('Telegram Trigger').first().json.callback_query?.message?.chat?.id\n      )\n    }}::BIGINT AS chat_id,\n\n    '{{ String(\n      $('Prepare search query payload').first().json.search_query\n      || $('Parse search audio query').first().json.search_query\n      || ''\n    ).replace(/'/g, \"''\") }}'::TEXT AS search_query,\n\n    '{{ String(JSON.stringify($input.all().map(i => i.json))).replace(/'/g, \"''\") }}'::JSONB AS raw_results\n),\n\ndelete_previous_sessions AS (\n  DELETE FROM gnote.search_sessions ss\n  USING input_data i\n  WHERE ss.user_id = i.user_id\n  RETURNING ss.id\n),\n\nsettings AS (\n  SELECT\n    COALESCE(\n      (\n        SELECT (value #>> '{}')::INTEGER\n        FROM gnote.app_settings\n        WHERE key = 'search.top_relevant_limit'\n      ),\n      10\n    ) AS top_relevant_limit,\n\n    COALESCE(\n      (\n        SELECT (value #>> '{}')::INTEGER\n        FROM gnote.app_settings\n        WHERE key = 'search.max_results_limit'\n      ),\n      100\n    ) AS max_results_limit\n),\n\nvalid_results AS (\n  SELECT\n    elem.value AS result_json,\n    elem.ordinality AS source_position\n  FROM input_data i\n  CROSS JOIN LATERAL jsonb_array_elements(i.raw_results) WITH ORDINALITY elem(value, ordinality)\n  WHERE\n    COALESCE(elem.value->>'no_results', 'false') <> 'true'\n    AND COALESCE(elem.value->>'message_id', elem.value->>'id', '') <> ''\n),\n\nlimited_valid_results AS (\n  SELECT *\n  FROM valid_results\n  WHERE source_position <= (SELECT max_results_limit FROM settings)\n),\n\ninsert_session AS (\n  INSERT INTO gnote.search_sessions (\n    user_id,\n    chat_id,\n    search_query,\n    total_count\n  )\n  SELECT\n    i.user_id,\n    i.chat_id,\n    i.search_query,\n    COUNT(lvr.result_json)::INTEGER\n  FROM input_data i\n  LEFT JOIN limited_valid_results lvr ON TRUE\n  GROUP BY i.user_id, i.chat_id, i.search_query\n  RETURNING id, user_id, chat_id, search_query, total_count\n),\n\nprepared_results AS (\n  SELECT\n    ins.id AS search_session_id,\n    ins.user_id,\n\n    COALESCE(\n      NULLIF(lvr.result_json->>'message_id', '')::BIGINT,\n      NULLIF(lvr.result_json->>'id', '')::BIGINT\n    ) AS message_id,\n\n    ROW_NUMBER() OVER (\n      ORDER BY\n        COALESCE(\n          NULLIF(lvr.result_json->>'result_position', '')::INTEGER,\n          NULLIF(lvr.result_json->>'result_number', '')::INTEGER,\n          lvr.source_position::INTEGER\n        )\n    )::INTEGER AS result_position,\n\n    COALESCE(\n      NULLIF(lvr.result_json->>'relevance_score', '')::NUMERIC,\n      NULLIF(lvr.result_json->>'score', '')::NUMERIC,\n      NULL\n    ) AS relevance_score,\n\n    lvr.result_json AS result_payload\n  FROM insert_session ins\n  JOIN limited_valid_results lvr ON TRUE\n),\n\ninsert_results AS (\n  INSERT INTO gnote.search_session_results (\n    search_session_id,\n    message_id,\n    result_position,\n    relevance_score,\n    result_payload\n  )\n  SELECT\n    pr.search_session_id,\n    pr.message_id,\n    pr.result_position,\n    pr.relevance_score,\n    pr.result_payload\n  FROM prepared_results pr\n  JOIN gnote.messages m\n    ON m.id = pr.message_id\n   AND m.user_id = pr.user_id\n   AND m.deleted_at IS NULL\n  WHERE pr.message_id IS NOT NULL\n  ON CONFLICT (search_session_id, message_id) DO NOTHING\n  RETURNING id\n)\n\nSELECT\n  ins.id AS search_session_id,\n  ins.user_id,\n  ins.chat_id,\n  ins.search_query,\n  ins.total_count,\n  s.top_relevant_limit,\n  s.max_results_limit,\n  COUNT(ir.id)::INTEGER AS saved_results_count,\n  (SELECT COUNT(*) FROM delete_previous_sessions)::INTEGER AS deleted_previous_search_sessions\nFROM insert_session ins\nCROSS JOIN settings s\nLEFT JOIN insert_results ir ON TRUE\nGROUP BY\n  ins.id,\n  ins.user_id,\n  ins.chat_id,\n  ins.search_query,\n  ins.total_count,\n  s.top_relevant_limit,\n  s.max_results_limit;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1488,
        1520
      ],
      "id": "eaac0319-0219-4907-8477-849f22076c80",
      "name": "Save search session",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst chatId = input.chat_id;\nconst sessionId = input.search_session_id;\n\nconst savedTotal = Number(input.saved_results_count ?? 0);\nconst rawTotal = Number(input.total_count ?? 0);\nconst topLimit = Number(input.top_relevant_limit ?? 10);\nconst query = String(input.search_query || '').trim();\n\nconst keyboard = [];\n\nif (savedTotal > 0) {\n  keyboard.push([\n    {\n      text: `📋 Show all (${savedTotal})`,\n      callback_data: `search_show_all:${sessionId}`\n    }\n  ]);\n\n  if (savedTotal > topLimit) {\n    keyboard.push([\n      {\n        text: `⭐ Show top ${topLimit}`,\n        callback_data: `search_show_top:${sessionId}`\n      }\n    ]);\n  }\n}\n\nkeyboard.push([\n  {\n    text: '🔎 Search again',\n    callback_data: 'action:search'\n  }\n]);\n\nlet text;\n\nif (savedTotal > 0) {\n  text =\n`Found ${savedTotal} message${savedTotal === 1 ? '' : 's'}.\n\nSearch query:\n${query || '—'}\n\nChoose what to show:`;\n} else if (rawTotal > 0) {\n  text =\n`Search found ${rawTotal} possible result${rawTotal === 1 ? '' : 's'}, but none could be saved for display.\n\nSearch query:\n${query || '—'}\n\nPlease try another search.`;\n} else {\n  text =\n`Nothing found.\n\nSearch query:\n${query || '—'}\n\nYou can try another search.`;\n}\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,\n      text,\n      inline_keyboard: keyboard,\n      search_session_id: sessionId,\n      saved_results_count: savedTotal,\n      raw_results_count: rawTotal\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        1520
      ],
      "id": "d8865e59-7322-42ea-b13f-fbda446bb754",
      "name": "Build search summary keyboard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    chat_id: $json.chat_id,\n    text: $json.text,\n    reply_markup: {\n      inline_keyboard: $json.inline_keyboard\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        1520
      ],
      "id": "e9285554-14ec-4b67-adb7-a1f5cafbca54",
      "name": "Send search summary keyboard"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst callback = input.callback_query;\n\nif (!callback) {\n  throw new Error('This node expects callback_query');\n}\n\nconst data = String(callback.data || '');\n\nlet mode = null;\nlet sessionId = null;\n\nif (data.startsWith('search_show_all:')) {\n  mode = 'all';\n  sessionId = data.replace('search_show_all:', '').trim();\n}\n\nif (data.startsWith('search_show_top:')) {\n  mode = 'top';\n  sessionId = data.replace('search_show_top:', '').trim();\n}\n\nif (!mode || !sessionId) {\n  throw new Error(`Unsupported search results callback: ${data}`);\n}\n\nreturn [\n  {\n    json: {\n      user_id: callback.from.id,\n      chat_id: callback.message.chat.id,\n      callback_query_id: callback.id,\n      telegram_message_id: callback.message.message_id,\n      search_session_id: sessionId,\n      mode\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        512
      ],
      "id": "60474513-7ad4-4a98-afa6-20bbff3dd536",
      "name": "Parse search results callback"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": \"{{ $json.callback_query_id }}\",\n  \"text\": \"{{ $json.mode === 'top' ? 'Showing top results' : 'Showing all results' }}\",\n  \"show_alert\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        544
      ],
      "id": "702e9ae6-a071-4e93-a6d1-18c748210b78",
      "name": "Answer search results callback"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    '{{ String($json.search_session_id || \"\").replace(/'/g, \"''\") }}'::UUID AS callback_search_session_id,\n    {{ $json.user_id }}::BIGINT AS callback_user_id,\n    {{ $json.chat_id }}::BIGINT AS callback_chat_id,\n    '{{ String($json.mode || \"top\").replace(/'/g, \"''\") }}'::TEXT AS mode\n),\n\nsettings AS (\n  SELECT\n    COALESCE(\n      (\n        SELECT (value #>> '{}')::INTEGER\n        FROM gnote.app_settings\n        WHERE key = 'search.top_relevant_limit'\n      ),\n      10\n    ) AS top_relevant_limit\n),\n\nresolved_session AS (\n  SELECT\n    COALESCE(\n      (\n        SELECT r.search_session_id\n        FROM gnote.search_session_results r\n        JOIN input_data i ON r.search_session_id = i.callback_search_session_id\n        LIMIT 1\n      ),\n      (\n        SELECT ss.id\n        FROM gnote.search_sessions ss\n        JOIN input_data i ON ss.user_id = i.callback_user_id\n        WHERE EXISTS (\n          SELECT 1\n          FROM gnote.search_session_results r\n          WHERE r.search_session_id = ss.id\n        )\n        ORDER BY ss.created_at DESC\n        LIMIT 1\n      )\n    ) AS search_session_id\n),\n\nbase AS (\n  SELECT\n    rs.search_session_id,\n    i.callback_user_id,\n    i.callback_chat_id,\n    i.mode,\n    s.top_relevant_limit,\n\n    ss.user_id AS session_user_id,\n    ss.chat_id AS session_chat_id,\n    ss.search_query,\n    ss.total_count,\n\n    r.result_position,\n    r.relevance_score,\n    r.result_payload,\n    r.message_id AS stored_message_id,\n\n    i.callback_search_session_id\n\n  FROM input_data i\n  CROSS JOIN settings s\n  CROSS JOIN resolved_session rs\n\n  JOIN gnote.search_session_results r\n    ON r.search_session_id = rs.search_session_id\n\n  LEFT JOIN gnote.search_sessions ss\n    ON ss.id = rs.search_session_id\n\n  WHERE rs.search_session_id IS NOT NULL\n),\n\njoined AS (\n  SELECT\n    b.search_session_id,\n    b.callback_search_session_id,\n\n    COALESCE(b.session_user_id, b.callback_user_id) AS user_id,\n    COALESCE(b.session_chat_id, b.callback_chat_id) AS chat_id,\n\n    b.search_query,\n    COALESCE(b.total_count, COUNT(*) OVER ())::INTEGER AS total_count,\n    b.mode,\n    b.top_relevant_limit,\n\n    b.result_position,\n    b.relevance_score,\n    b.result_payload,\n\n    COALESCE(\n      m.id,\n      b.stored_message_id,\n      CASE\n        WHEN COALESCE(b.result_payload->>'message_id', '') ~ '^[0-9]+$'\n        THEN (b.result_payload->>'message_id')::BIGINT\n        ELSE NULL\n      END,\n      CASE\n        WHEN COALESCE(b.result_payload->>'id', '') ~ '^[0-9]+$'\n        THEN (b.result_payload->>'id')::BIGINT\n        ELSE NULL\n      END\n    ) AS message_id,\n\n    COALESCE(m.content, b.result_payload->>'content') AS content,\n\n    COALESCE(\n      m.created_at,\n      CASE\n        WHEN COALESCE(b.result_payload->>'created_at', '') <> ''\n        THEN (b.result_payload->>'created_at')::TIMESTAMPTZ\n        ELSE NULL\n      END\n    ) AS created_at,\n\n    COALESCE(m.message_type, b.result_payload->>'message_type', 'text') AS message_type,\n\n    COALESCE(m.file_id, b.result_payload->>'file_id') AS file_id,\n    COALESCE(m.file_unique_id, b.result_payload->>'file_unique_id') AS file_unique_id,\n    COALESCE(m.file_name, b.result_payload->>'file_name') AS file_name,\n    COALESCE(m.mime_type, b.result_payload->>'mime_type') AS mime_type,\n    COALESCE(m.caption, b.result_payload->>'caption') AS caption,\n\n    COALESCE(\n      m.latitude,\n      CASE\n        WHEN COALESCE(b.result_payload->>'latitude', '') ~ '^-?[0-9]+(\\.[0-9]+)?$'\n        THEN (b.result_payload->>'latitude')::DOUBLE PRECISION\n        ELSE NULL\n      END\n    ) AS latitude,\n\n    COALESCE(\n      m.longitude,\n      CASE\n        WHEN COALESCE(b.result_payload->>'longitude', '') ~ '^-?[0-9]+(\\.[0-9]+)?$'\n        THEN (b.result_payload->>'longitude')::DOUBLE PRECISION\n        ELSE NULL\n      END\n    ) AS longitude,\n\n    COALESCE(m.location_title, b.result_payload->>'location_title') AS location_title,\n    COALESCE(m.location_address, b.result_payload->>'location_address') AS location_address,\n    COALESCE(m.maps_url, b.result_payload->>'maps_url') AS maps_url,\n\n    COALESCE(t.title, b.result_payload->>'topic_title') AS topic_title,\n\n    COALESCE(\n      b.result_payload->>'display_text',\n      m.file_name,\n      m.caption,\n      m.content,\n      m.location_title,\n      m.location_address,\n      m.maps_url,\n      b.result_payload->>'ai_summary',\n      b.result_payload->>'content',\n      b.result_payload->>'caption',\n      b.result_payload->>'file_name',\n      'Message'\n    ) AS display_text\n\n  FROM base b\n\n  LEFT JOIN gnote.messages m\n    ON m.id = b.stored_message_id\n   AND m.deleted_at IS NULL\n\n  LEFT JOIN gnote.topics t\n    ON t.id = m.topic_id\n   AND t.user_id = m.user_id\n)\n\nSELECT\n  user_id,\n  chat_id,\n\n  search_session_id,\n  callback_search_session_id,\n\n  search_query,\n  total_count,\n  mode,\n  top_relevant_limit,\n\n  result_position,\n  relevance_score,\n\n  message_id,\n  content,\n  display_text,\n  created_at,\n  message_type,\n  file_id,\n  file_unique_id,\n  file_name,\n  mime_type,\n  caption,\n  latitude,\n  longitude,\n  location_title,\n  location_address,\n  maps_url,\n  topic_title,\n\n  result_payload\nFROM joined\nWHERE\n  message_id IS NOT NULL\n  AND (\n    mode = 'all'\n    OR result_position <= top_relevant_limit\n  )\nORDER BY result_position ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        592
      ],
      "id": "b8d93d4d-ac69-42bd-a33b-1132d6ae033e",
      "name": "Get saved search results",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawItems = $input.all();\n\nconst trigger = $('Telegram Trigger').first().json;\n\nconst fallbackChatId =\n  trigger.callback_query?.message?.chat?.id ||\n  trigger.callback_query?.from?.id ||\n  trigger.message?.chat?.id ||\n  trigger.message?.from?.id;\n\nfunction clean(value) {\n  if (value === null || value === undefined) return '';\n  return String(value).trim();\n}\n\nfunction fromPayload(row, key) {\n  const p = row.result_payload || {};\n  return row[key] ?? p[key] ?? '';\n}\n\nfunction formatDate(value) {\n  if (!value) return '';\n\n  try {\n    const d = new Date(value);\n\n    if (Number.isNaN(d.getTime())) {\n      return String(value);\n    }\n\n    const pad = n => String(n).padStart(2, '0');\n\n    return `${pad(d.getDate())}/${pad(d.getMonth() + 1)}/${String(d.getFullYear()).slice(-2)}, ${pad(d.getHours())}:${pad(d.getMinutes())}`;\n  } catch (e) {\n    return String(value);\n  }\n}\n\nfunction shorten(text, max = 900) {\n  const value = clean(text).replace(/\\s+/g, ' ');\n  if (value.length <= max) return value;\n  return value.slice(0, max - 1) + '…';\n}\n\nfunction getIcon(messageType, row) {\n  const type = clean(messageType).toLowerCase();\n\n  if (type === 'photo') return '🖼️';\n  if (type === 'voice') return '🎙️';\n  if (type === 'audio') return '🎧';\n  if (type === 'video') return '🎬';\n  if (type === 'video_note') return '🎥';\n  if (type === 'document' || type === 'file') return '📄';\n\n  const lat = fromPayload(row, 'latitude');\n  const lon = fromPayload(row, 'longitude');\n\n  if (lat !== '' && lon !== '') {\n    return '📍';\n  }\n\n  return '💬';\n}\n\nconst items = rawItems.filter(item => {\n  const row = item.json || {};\n  const messageId = fromPayload(row, 'message_id') || fromPayload(row, 'id');\n  return !!messageId;\n});\n\nif (!items.length) {\n  return [\n    {\n      json: {\n        api_method: 'sendMessage',\n        body: {\n          chat_id: fallbackChatId,\n          text: 'No saved search results found ⚠️\\n\\nPlease run a new search.'\n        }\n      }\n    }\n  ];\n}\n\nconst output = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json || {};\n\n  const chatId =\n    fromPayload(row, 'chat_id') ||\n    fallbackChatId;\n\n  const messageId =\n    fromPayload(row, 'message_id') ||\n    fromPayload(row, 'id');\n\n  const topicTitle =\n    clean(fromPayload(row, 'topic_title')) ||\n    'No topic';\n\n  const messageType =\n    clean(fromPayload(row, 'message_type')) ||\n    'text';\n\n  const fileId = clean(fromPayload(row, 'file_id'));\n  const fileName = clean(fromPayload(row, 'file_name'));\n  const mapsUrl = clean(fromPayload(row, 'maps_url'));\n\n  const content =\n    clean(fromPayload(row, 'display_text')) ||\n    clean(fromPayload(row, 'content')) ||\n    clean(fromPayload(row, 'caption')) ||\n    clean(fileName) ||\n    clean(fromPayload(row, 'location_title')) ||\n    clean(fromPayload(row, 'location_address')) ||\n    clean(mapsUrl) ||\n    clean(fromPayload(row, 'ai_summary')) ||\n    '[message]';\n\n  const position =\n    Number(fromPayload(row, 'result_position')) ||\n    Number(fromPayload(row, 'result_number')) ||\n    i + 1;\n\n  const total =\n    Number(fromPayload(row, 'total_count')) ||\n    Number(fromPayload(row, 'total_results')) ||\n    items.length;\n\n  const createdAt = fromPayload(row, 'created_at');\n  const icon = getIcon(messageType, row);\n\n  let caption =\n`${position}/${total} ${icon} ${shorten(content, 500)}\n\nTopic: ${topicTitle}\nType: ${messageType}`;\n\n  if (createdAt) {\n    caption += `\\nDate: ${formatDate(createdAt)}`;\n  }\n\n  const rowButtons = [];\n\n  if (messageId) {\n    rowButtons.push({\n      text: '🧠 Summary',\n      callback_data: `summary_msg:${messageId}`\n    });\n  }\n\n  if (mapsUrl) {\n    rowButtons.push({\n      text: '🗺 Map',\n      url: mapsUrl\n    });\n  }\n\n  if (messageId) {\n    rowButtons.push({\n      text: '🗑 Delete',\n      callback_data: `delete_msg:${messageId}`\n    });\n  }\n\n  const replyMarkup = rowButtons.length\n    ? {\n        inline_keyboard: [rowButtons]\n      }\n    : undefined;\n\n  // PHOTO: send actual photo preview\n  if (messageType === 'photo' && fileId) {\n    const body = {\n      chat_id: chatId,\n      photo: fileId,\n      caption\n    };\n\n    if (replyMarkup) {\n      body.reply_markup = replyMarkup;\n    }\n\n    output.push({\n      json: {\n        api_method: 'sendPhoto',\n        body,\n        search_session_id: fromPayload(row, 'search_session_id'),\n        user_id: fromPayload(row, 'user_id'),\n        mode: fromPayload(row, 'mode')\n      }\n    });\n\n    continue;\n  }\n\n  // DOCUMENT / FILE / AUDIO / VIDEO / VOICE: text card with Download button\n  if (\n    fileId &&\n    messageId &&\n    ['document', 'file', 'audio', 'voice', 'video', 'video_note'].includes(messageType)\n  ) {\n    rowButtons.unshift({\n      text: '⬇️ Download',\n      callback_data: `download_msg:${messageId}`\n    });\n  }\n\n  const textBody = {\n    chat_id: chatId,\n    text: caption\n  };\n\n  if (rowButtons.length) {\n    textBody.reply_markup = {\n      inline_keyboard: [rowButtons]\n    };\n  }\n\n  output.push({\n    json: {\n      api_method: 'sendMessage',\n      body: textBody,\n      search_session_id: fromPayload(row, 'search_session_id'),\n      user_id: fromPayload(row, 'user_id'),\n      mode: fromPayload(row, 'mode')\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        608
      ],
      "id": "11491646-c048-4092-ba76-593f8be2cc05",
      "name": "Build saved search result messages"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.api_method }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        608
      ],
      "id": "ecf3a978-afcf-4889-998d-b46dc6f22d12",
      "name": "Send saved search result item"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Parse search results callback').first().json || {};\n\nconst searchSessionId = String(source.search_session_id || '').trim();\nconst userId = source.user_id;\nconst chatId = source.chat_id;\nconst mode = String(source.mode || 'top').trim();\n\nif (!searchSessionId) {\n  throw new Error('Missing search_session_id in Parse search results callback');\n}\n\nif (!userId) {\n  throw new Error('Missing user_id in Parse search results callback');\n}\n\nif (!chatId) {\n  throw new Error('Missing chat_id in Parse search results callback');\n}\n\nreturn [\n  {\n    json: {\n      user_id: userId,\n      chat_id: chatId,\n      callback_query_id: source.callback_query_id,\n      telegram_message_id: source.telegram_message_id,\n      search_session_id: searchSessionId,\n      mode\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        576
      ],
      "id": "ac575974-773f-4935-8d77-d0fb132de735",
      "name": "Restore search results callback payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n  SELECT\n    COALESCE(\n      NULLIF('{{ String($json.user_id || \"\").replace(/'/g, \"''\") }}', '')::BIGINT,\n      NULLIF('{{ String($json.message?.from?.id || \"\").replace(/'/g, \"''\") }}', '')::BIGINT,\n      NULLIF('{{ String($(\"Telegram Trigger\").first().json.message?.from?.id || \"\").replace(/'/g, \"''\") }}', '')::BIGINT,\n      NULLIF('{{ String($(\"Telegram Trigger\").first().json.callback_query?.from?.id || \"\").replace(/'/g, \"''\") }}', '')::BIGINT\n    ) AS user_id,\n\n    COALESCE(\n      NULLIF('{{ String($json.message_id || \"\").replace(/'/g, \"''\") }}', '')::BIGINT,\n      NULLIF('{{ String($json.saved_message_id || \"\").replace(/'/g, \"''\") }}', '')::BIGINT,\n      NULLIF('{{ String($json.id || \"\").replace(/'/g, \"''\") }}', '')::BIGINT\n    ) AS message_id,\n\n    NULLIF('{{ String($json.message_uuid || \"\").replace(/'/g, \"''\") }}', '')::UUID AS message_uuid\n),\n\nmessage_ref AS (\n  SELECT\n    m.id AS message_id,\n    m.user_id,\n    m.message_uuid\n  FROM gnote.messages m\n  JOIN input_data i\n    ON m.user_id = i.user_id\n   AND (\n        m.id = i.message_id\n        OR m.message_uuid = i.message_uuid\n   )\n  WHERE m.deleted_at IS NULL\n  ORDER BY m.created_at DESC\n  LIMIT 1\n),\n\nupdated_metadata AS (\n  UPDATE gnote.message_ai_metadata meta\n  SET\n    message_id = mr.message_id,\n    pending_message_id = NULL,\n    source_status = 'active',\n    analysis_status = COALESCE(NULLIF(meta.analysis_status, ''), 'done'),\n    updated_at = NOW()\n  FROM message_ref mr\n  WHERE meta.user_id = mr.user_id\n    AND (\n      meta.message_id = mr.message_id\n      OR meta.message_uuid = mr.message_uuid\n    )\n    AND COALESCE(meta.source_status, 'pending') <> 'deleted'\n  RETURNING\n    meta.id,\n    meta.user_id,\n    meta.message_id,\n    meta.message_uuid,\n    meta.source_status\n)\n\nSELECT\n  COALESCE((SELECT user_id FROM message_ref), (SELECT user_id FROM input_data)) AS user_id,\n  (SELECT message_id FROM message_ref) AS message_id,\n  (SELECT message_uuid FROM message_ref) AS message_uuid,\n  COUNT(um.id)::INTEGER AS updated_ai_metadata_rows,\n  CASE\n    WHEN COUNT(um.id) > 0 THEN 'active'\n    ELSE 'not_found'\n  END AS final_source_status\nFROM updated_metadata um\nRIGHT JOIN input_data i ON TRUE\nGROUP BY i.user_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        144
      ],
      "id": "4cdd9331-2c04-4d1d-b1a0-6b1326e50e3b",
      "name": "Finalize AI index status",
      "credentials": {
        "postgres": {
          "id": "MuKN7jUvqjq4touw",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IF update is callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get user state": {
      "main": [
        [
          {
            "node": "normalize state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add user/message": {
      "main": [
        [
          {
            "node": "send processing message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch state": {
      "main": [
        [
          {
            "node": "prepare message payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare search query payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "prepare extra keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize state": {
      "main": [
        [
          {
            "node": "switch state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare message payload": {
      "main": [
        [
          {
            "node": "check file size support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse download message": {
      "main": [
        [
          {
            "node": "get file message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get file message": {
      "main": [
        [
          {
            "node": "prepare file download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare file download": {
      "main": [
        [
          {
            "node": "send file item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create help text": {
      "main": [
        [
          {
            "node": "send help text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse delete topic": {
      "main": [
        [
          {
            "node": "get delete topic info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get delete topic info": {
      "main": [
        [
          {
            "node": "create delete action keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create delete action keyboard": {
      "main": [
        [
          {
            "node": "send delaction keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse delete message": {
      "main": [
        [
          {
            "node": "move message to deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move message to deleted": {
      "main": [
        [
          {
            "node": "delete telegram result message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse cancel pending": {
      "main": [
        [
          {
            "node": "delete pending message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete pending message": {
      "main": [
        [
          {
            "node": "answer cancel callback",
            "type": "main",
            "index": 0
          },
          {
            "node": "send cancel result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "answer cancel callback": {
      "main": [
        []
      ]
    },
    "IF update is callback": {
      "main": [
        [
          {
            "node": "Switch callbacks1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "switch messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch callbacks1": {
      "main": [
        [
          {
            "node": "parse download message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parse delete topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parse delete message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deletion canceled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parse cancel pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "answer search again callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parse save pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parse add keywords",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parse delete message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parse summary message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse search results callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse search results callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create help text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch messages": {
      "main": [
        [
          {
            "node": "create help text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get user keywords",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set state waiting_search_query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create help text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get user state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Memoraq - Search Messages'": {
      "main": [
        [
          {
            "node": "Save search session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set state waiting_search_query": {
      "main": [
        [
          {
            "node": "Build ask search query message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ask search query message": {
      "main": [
        [
          {
            "node": "Ask search query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare search query payload": {
      "main": [
        [
          {
            "node": "IF search query is ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse save pending": {
      "main": [
        [
          {
            "node": "move pending to messages without topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move pending to messages without topic": {
      "main": [
        [
          {
            "node": "send save result no topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse add keywords": {
      "main": [
        [
          {
            "node": "set state waiting extra keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set state waiting extra keywords": {
      "main": [
        [
          {
            "node": "ask extra keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare extra keywords": {
      "main": [
        [
          {
            "node": "append extra keywords and save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append extra keywords and save": {
      "main": [
        [
          {
            "node": "send save with extra keywords result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyze message": {
      "main": [
        [
          {
            "node": "IF AI Analyze succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send processing message": {
      "main": [
        [
          {
            "node": "attach processing message id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "attach processing message id": {
      "main": [
        [
          {
            "node": "AI Analyze message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check message rate limit": {
      "main": [
        [
          {
            "node": "merge rate limit result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge rate limit result": {
      "main": [
        [
          {
            "node": "IF rate limit allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF rate limit allowed": {
      "main": [
        [
          {
            "node": "add user/message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send rate limit warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete telegram result message": {
      "main": [
        [
          {
            "node": "answer delete callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF AI Analyze succeeded": {
      "main": [
        [
          {
            "node": "edit processing message with keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send help text": {
      "main": [
        []
      ]
    },
    "get user keywords": {
      "main": [
        [
          {
            "node": "format keywords list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format keywords list": {
      "main": [
        [
          {
            "node": "send keywords list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse summary message": {
      "main": [
        [
          {
            "node": "get message summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get message summary": {
      "main": [
        [
          {
            "node": "format message summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format message summary": {
      "main": [
        [
          {
            "node": "send message summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check file size support": {
      "main": [
        [
          {
            "node": "IF file size supported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF file size supported": {
      "main": [
        [
          {
            "node": "check message rate limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send unsupported file size warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF search query is ready": {
      "main": [
        [
          {
            "node": "Call 'Memoraq - Search Messages'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF needs search audio transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF needs search audio transcription": {
      "main": [
        [
          {
            "node": "Build search audio analyzing notice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send search query error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send rate limit warning": {
      "main": [
        []
      ]
    },
    "Telegram getFile search audio": {
      "main": [
        [
          {
            "node": "Download search audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download search audio": {
      "main": [
        [
          {
            "node": "Prepare Gemini search audio request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini search audio request": {
      "main": [
        [
          {
            "node": "Gemini transcribe search query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini transcribe search query": {
      "main": [
        [
          {
            "node": "Parse search audio query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse search audio query": {
      "main": [
        [
          {
            "node": "IF search audio query found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF search audio query found": {
      "main": [
        [
          {
            "node": "Build search keywords notice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send search audio failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build search audio analyzing notice": {
      "main": [
        [
          {
            "node": "Send search audio analyzing notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send search audio analyzing notice": {
      "main": [
        [
          {
            "node": "Restore payload after audio notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore payload after audio notice": {
      "main": [
        [
          {
            "node": "Telegram getFile search audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build search keywords notice": {
      "main": [
        [
          {
            "node": "Send search keywords notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send search keywords notice": {
      "main": [
        [
          {
            "node": "Restore payload after keywords notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore payload after keywords notice": {
      "main": [
        [
          {
            "node": "Call 'Memoraq - Search Messages'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "answer search again callback": {
      "main": [
        [
          {
            "node": "Set search state from callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set search state from callback": {
      "main": [
        [
          {
            "node": "Build ask search query message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save search session": {
      "main": [
        [
          {
            "node": "Build search summary keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build search summary keyboard": {
      "main": [
        [
          {
            "node": "Send search summary keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse search results callback": {
      "main": [
        [
          {
            "node": "Answer search results callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer search results callback": {
      "main": [
        [
          {
            "node": "Restore search results callback payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get saved search results": {
      "main": [
        [
          {
            "node": "Build saved search result messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build saved search result messages": {
      "main": [
        [
          {
            "node": "Send saved search result item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send search summary keyboard": {
      "main": [
        [
          {
            "node": "Clear search state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore search results callback payload": {
      "main": [
        [
          {
            "node": "Get saved search results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize AI index status": {
      "main": [
        []
      ]
    },
    "edit processing message with keyboard": {
      "main": [
        []
      ]
    },
    "send save result no topic": {
      "main": [
        [
          {
            "node": "Finalize AI index status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dc2fd076-69c2-4cb7-a00e-8e1b2a46e4b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55f8b8197c6537282f737c6a15b6220454fb4f0ecbeb5fdd2fcb6f35f67501c5"
  },
  "id": "E_WY5SaORG0ob7TMzFNUp",
  "tags": []
}